<header class="page-header">
    <div class="page-header__top-panel">
        <div class="container">
            <div class="inner-container">
                <div class="page-header__top-panel-row">
                    <div class="page-header__intro-text">
                        <p>
                            Ремарк — деловые подарки и бизнес-сувениры
                        </p>
                    </div>
                    <ul class="page-header__social-list">
                        <li class="page-header__social-list-item">
                            <a href="#" class="page-header__social-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-instagram">
                                    <use xlink:href="#instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-header__social-list-item">
                            <a href="#" class="page-header__social-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-facebook">
                                    <use xlink:href="#facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-header__social-list-item">
                            <a href="#" class="page-header__social-link">
                                <svg width="14" height="14" aria-hidden="true" class="icon-vkontakte">
                                    <use xlink:href="#vkontakte"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <a href="tel:88432927383" class="page-header__phone-link">8 (843) 292-73-83</a>
                    <a href="#" class="page-header__callback-btn">
                        Заказать звонок
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="page-header__bottom-panel">
        <div class="container">
            <div class="inner-container">
                <div class="page-header__bottom-panel-row">
                    <a href="#" class="page-header__logo">
                        <img src="img/logo.svg" alt="" class="page-header__logo-image" width="44px">
                    </a>
                    <button class="page-header__catalog-open">
                        <span class="page-header__catalog-open-burger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                        <span class="page-header__catalog-open-text">
                            Каталог
                        </span>
                    </button>
                    <nav class="page-header__nav">
                        <a href="#" class="page-header__nav-link">
                            Нанесение
                        </a>
                        <a href="#" class="page-header__nav-link">
                            О компании
                        </a>
                        <a href="#" class="page-header__nav-link">
                            Новости
                        </a>
                        <a href="#" class="page-header__nav-link">
                            Вакансии
                        </a>
                        <a href="#" class="page-header__nav-link">
                            Контакты
                        </a>
                    </nav>
                    <form action="/" method="GET" class="page-header__search-form">
                        <input type="search" class="page-header__search-form-input" placeholder="Поиск по сайту">
                        <button type="submit" class="page-header__search-form-submit">
                            <svg width="14" height="14" aria-hidden="true" class="icon-search">
                                <use xlink:href="#search"></use>
                            </svg>
                        </button>
                    </form>
                    <div class="page-header__cart">
                        <a href="#" class="page-header__cart-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-cart">
                                <use xlink:href="#cart"></use>
                            </svg>
                            <span class="page-header__cart-link-amount">
                                2
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>