<div class="long-product-card">
    <a href="product.html" class="long-product-card__link-backplate">

    </a>
    <div class="long-product-card__image-container">
        <img data-src="img/product-card.jpg" alt="" class="long-product-card__image lazyload">
    </div>
    <div class="long-product-card__content">
        <h4 class="long-product-card__title">

            Брелок со спиннером "MARINE", 5х1,5 см,металл


        </h4>
        <div class="long-product-card__text">
            Артикул ХЭ8772/24
        </div>
    </div>
    <div class="long-product-card__price">
        229,00 ₽
    </div>
    <form action="/" method="POST" class="long-product-card__add-to-cart">

        <div class="long-product-card__amount">
            <button type="button" class="long-product-card__amount-btn js-amount-minus" disabled="">
                <svg width="14" height="14" aria-hidden="true" class="icon-minus">
                    <use xlink:href="#minus"></use>
                </svg>
            </button>
            <input type="text" class="long-product-card__amount-input js-amount-input" readonly="" value="1" data-min-value="1">
            <button type="button" class="long-product-card__amount-btn js-amount-plus">
                <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                    <use xlink:href="#plus"></use>
                </svg>
            </button>
        </div>
        <button class="long-product-card__add-to-cart-submit " type="submit">
            <svg width="14" height="14" aria-hidden="true" class="icon-cart">
                <use xlink:href="#cart"></use>
            </svg>
        </button>
    </form>

</div>