<div class="product-catalog-card">
    <div class="product-catalog-card__inner">
        <div class="product-catalog-card__face product-catalog-card__face--front">
            <a href="product.html" class="product-catalog-card__link-backdrop">

            </a>
            <a href="#" class="product-catalog-card__like-btn">
                <svg width="14" height="14" aria-hidden="true" class="icon-heart">
                    <use xlink:href="#heart"></use>
                </svg>
            </a>
            <div class="product-catalog-card__image-container">
                <img data-src="img/product-card.jpg" alt="" class="product-catalog-card__image lazyload">


            </div>
            <h4 class="product-catalog-card__title">
                Брелок с эспандером "WORKOUT", синий, 7х..
            </h4>
            <div class="product-catalog-card__text">
                Артикул ХЭ8772/24
            </div>
            <div class="product-catalog-card__bottom-row">
                <div class="product-catalog-card__price">
                    229,00 ₽
                </div>
                <a href="#" class="product-catalog-card__add-to-cart">
                    <svg width="14" height="14" aria-hidden="true" class="icon-cart">
                        <use xlink:href="#cart"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="product-catalog-card__face product-catalog-card__face--back">
            <a href="product.html" class="product-catalog-card__link-backdrop">

            </a>
            <h4 class="product-catalog-card__title">
                Брелок с эспандером "WORKOUT", синий, 7х..
            </h4>
            <div class="product-catalog-card__text">
                Артикул ХЭ8772/24
            </div>
            <div class="product-catalog-card__price">
                229,00 ₽
            </div>
            <div class="product-catalog-card__amount">
                <button type="button" class="product-catalog-card__amount-btn product-catalog-card__amount-btn--minus"
                    disabled="">
                    <svg width="14" height="14" aria-hidden="true" class="icon-minus">
                        <use xlink:href="#minus"></use>
                    </svg>
                </button>
                <input type="text" class="product-catalog-card__amount-input" readonly="" value="0">
                <button type="button" class="product-catalog-card__amount-btn product-catalog-card__amount-btn--plus">
                    <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                        <use xlink:href="#plus"></use>
                    </svg>
                </button>
            </div>
        </div>



    </div>
</div>