{{#extend "layout"}}
{{#content "main"}}


<div class="breadcrumbs">
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs__links">
                <a href="#" class="breadcrumbs__link">
                    Главная
                </a>
                <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                    <use xlink:href="#breadcrumbs-arrow"></use>
                </svg>
                <a href="#" class="breadcrumbs__link active">
                    О компании
                </a>
            </div>
        </div>
    </div>


</div>

<div class="page-heading">
    <div class="container">
        <div class="inner-container">
            <h1 class="section-heading">
                О компании
            </h1>
        </div>
    </div>
</div>


<div class="page-inner-nav">
    <div class="container">
        <div class="inner-container">
            <div class="page-inner-nav__links">
                <a href="#" class="page-inner-nav__link">
                    Вакансии
                </a>
            </div>
        </div>
    </div>
</div>

<section class="about">
    <div class="container">
        <div class="inner-container">


            <div class="about__row">
                <div class="about__col">
                    <div class="about__text-content">
                        <h3>
                            Мы занимаемся сувенирами уже<br> около 30 лет
                        </h3>
                        <p>
                            За это время мы подобрали, персонализировали и поставили десятки миллионов подарков для
                            наших
                            клиентов: от семейных бизнесов до системообразующих предприятий.
                        </p>
                        <p>
                            Мы помогли в проведении сотен мероприятий: промо-акций, выставок, конференций, презентаций,
                            собраний акционеров.
                        </p>
                        <p>
                            Мы стремимся всегда превосходить ожидания клиентов:
                        </p>
                        <p>
                            Давние и прочные партнерские отношения с крупнейшими дистрибьюторами – чтобы предлагать вам
                            максимально широкий ассортимент и самые выгодные условия сотрудничества.<br>
                            Универсальная производственная база – чтобы оперативно персонализировать любые сувениры и
                            гарантировать качество исполнения на любом этапе.
                        </p>
                    </div>
                </div>
                <div class="about__col">
                    <div class="gallery-slider js-gallery-slider">
                        <div class="gallery-slider__main">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__main-card">
                                            <img data-src="img/gallery-slider.jpg" alt=""
                                                class="gallery-slider__main-card-image lazyload">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__main-card">
                                            <img data-src="img/gallery-slider.jpg" alt=""
                                                class="gallery-slider__main-card-image lazyload">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__main-card">
                                            <img data-src="img/gallery-slider.jpg" alt=""
                                                class="gallery-slider__main-card-image lazyload">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__main-card">
                                            <img data-src="img/gallery-slider.jpg" alt=""
                                                class="gallery-slider__main-card-image lazyload">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__main-card">
                                            <img data-src="img/gallery-slider.jpg" alt=""
                                                class="gallery-slider__main-card-image lazyload">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__main-card">
                                            <img data-src="img/gallery-slider.jpg" alt=""
                                                class="gallery-slider__main-card-image lazyload">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__main-card">
                                            <img data-src="img/gallery-slider.jpg" alt=""
                                                class="gallery-slider__main-card-image lazyload">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__main-card">
                                            <img data-src="img/gallery-slider.jpg" alt=""
                                                class="gallery-slider__main-card-image lazyload">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gallery-slider__main-card">
                                            <img data-src="img/gallery-slider.jpg" alt=""
                                                class="gallery-slider__main-card-image lazyload">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="gallery-slider__thumbs">
                            <div class="gallery-slider__thumbs-inner">


                                <button class="gallery-slider__arrow gallery-slider__arrow--prev">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                        <use xlink:href="#arrow-left"></use>
                                    </svg>
                                </button>
                                <div class="gallery-slider__thumbs-wrapper">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <img data-src="img/thumbs.jpg" alt=""
                                                        class="gallery-slider__thumbs-card-image lazyload">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <img data-src="img/thumbs.jpg" alt=""
                                                        class="gallery-slider__thumbs-card-image lazyload">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <img data-src="img/thumbs.jpg" alt=""
                                                        class="gallery-slider__thumbs-card-image lazyload">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <img data-src="img/thumbs.jpg" alt=""
                                                        class="gallery-slider__thumbs-card-image lazyload">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <img data-src="img/thumbs.jpg" alt=""
                                                        class="gallery-slider__thumbs-card-image lazyload">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <img data-src="img/thumbs.jpg" alt=""
                                                        class="gallery-slider__thumbs-card-image lazyload">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <img data-src="img/thumbs.jpg" alt=""
                                                        class="gallery-slider__thumbs-card-image lazyload">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <img data-src="img/thumbs.jpg" alt=""
                                                        class="gallery-slider__thumbs-card-image lazyload">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="gallery-slider__thumbs-card">
                                                    <img data-src="img/thumbs.jpg" alt=""
                                                        class="gallery-slider__thumbs-card-image lazyload">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="gallery-slider__arrow gallery-slider__arrow--next">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about__history-slider js-history-slider">
                <div class="slider-arrows about__history-slider-arrows">
                    <button class="slider-arrows__btn slider-arrows__btn--green slider-arrows__btn--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="slider-arrows__btn slider-arrows__btn--green slider-arrows__btn--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="about__history-slider-card">
                                <div class="about__history-slider-card-bar">
                                    <span>

                                    </span>
                                    <span>

                                    </span>
                                    <span>

                                    </span>
                                </div>
                                <div class="about__history-slider-card-year">
                                    1994 год
                                </div>
                                <div class="about__history-slider-card-event">
                                    Запустили первый в республике справочник "Желтые страницы".
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about__history-slider-card">
                                <div class="about__history-slider-card-bar">
                                    <span>

                                    </span>
                                    <span>

                                    </span>
                                    <span>

                                    </span>
                                </div>
                                <div class="about__history-slider-card-year">
                                    1996 год
                                </div>
                                <div class="about__history-slider-card-event">
                                    Запустили первый в республике справочник "Желтые страницы".
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about__history-slider-card">
                                <div class="about__history-slider-card-bar">
                                    <span>

                                    </span>
                                    <span>

                                    </span>
                                    <span>

                                    </span>
                                </div>
                                <div class="about__history-slider-card-year">
                                    1998 год
                                </div>
                                <div class="about__history-slider-card-event">
                                    Организовали первую в Казани промоакцию.
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about__history-slider-card">
                                <div class="about__history-slider-card-bar">
                                    <span>

                                    </span>
                                    <span>

                                    </span>
                                    <span>

                                    </span>
                                </div>
                                <div class="about__history-slider-card-year">
                                    2000 год
                                </div>
                                <div class="about__history-slider-card-event">
                                    Организовали первую в Казани промоакцию.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about__content-slider js-about-content-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="about__row">
                                <div class="about__col">
                                    <img data-src="img/about-image.jpg" alt="" class="about__image lazyload">
                                </div>
                                <div class="about__col">
                                    <img data-src="img/about-image.jpg" alt="" class="about__image lazyload">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about__row">
                                <div class="about__col">
                                    <img data-src="img/about-image.jpg" alt="" class="about__image lazyload">
                                </div>
                                <div class="about__col">
                                    <img data-src="img/about-image.jpg" alt="" class="about__image lazyload">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about__row">
                                <div class="about__col">
                                    <img data-src="img/about-image.jpg" alt="" class="about__image lazyload">
                                </div>
                                <div class="about__col">
                                    <img data-src="img/about-image.jpg" alt="" class="about__image lazyload">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="about__row">
                                <div class="about__col">
                                    <img data-src="img/about-image.jpg" alt="" class="about__image lazyload">
                                </div>
                                <div class="about__col">
                                    <img data-src="img/about-image.jpg" alt="" class="about__image lazyload">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="about__vacancies-card">
                <img data-src="img/about-vacancies-card.jpg" alt="" class="about__vacancies-card-image lazyload">
                <h3 class="section-heading about__vacancies-card-heading">
                    Интересная работе в Ремарке!
                </h3>
                <div class="btn about__vacancies-card-btn">
                    Подробнее
                </div>
            </a>
            <ul class="about__advantages-list">
                <li class="about__advantages-list-item">
                    <div class="about__advantages-card">
                        <div class="about__advantages-card-image-container">
                            <img data-src="img/about-advantages/1.jpg" alt=""
                                class="about__advantages-card-image lazyload">
                        </div>
                        <div class="about__advantages-card-text">
                            <p>
                                Самый большой как по площади, так и по ассортименту шоу-рум – чтобы вы могли комфортно
                                выбирать сувениры «вживую», а не по картинке.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="about__advantages-list-item">
                    <div class="about__advantages-card">
                        <div class="about__advantages-card-image-container">
                            <img data-src="img/about-advantages/2.jpg" alt=""
                                class="about__advantages-card-image lazyload">
                        </div>
                        <div class="about__advantages-card-text">
                            <p>
                                Большой, регулярно пополняемый склад – чтобы гарантировать выполнение любого заказа, вне
                                зависимости от сезона.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="about__advantages-list-item">
                    <div class="about__advantages-card">
                        <div class="about__advantages-card-image-container">
                            <img data-src="img/about-advantages/3.jpg" alt=""
                                class="about__advantages-card-image lazyload">
                        </div>
                        <div class="about__advantages-card-text">
                            <p>
                                Мы гарантируем высокий уровень сервиса. Наши менеджеры в сжатые сроки готовят
                                предложение, учитывающее пожелания Клиента; разрабатывают макет будущего сувенира; а
                                программа бесплатной доставки избавляет наших Клиентов от дополнительных хлопот.

                            </p>
                        </div>
                    </div>
                </li>
                <li class="about__advantages-list-item">
                    <div class="about__advantages-card">
                        <div class="about__advantages-card-image-container">
                            <img data-src="img/about-advantages/4.jpg" alt=""
                                class="about__advantages-card-image lazyload">
                        </div>
                        <div class="about__advantages-card-text">
                            <p>
                                Качественные сувениры, высокий сервис, заботливое отношение к Клиентам и справедливые
                                цены - вот главные критерии нашей работы! Мы создаем культуру эффективного использования
                                подарков в бизнесе, учим этому наших Клиентов и совершенствуемся каждый день сами.


                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>






{{/content}}
{{/extend}}
