{{#extend "layout"}}
{{#content "main"}}


<div class="breadcrumbs">
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs__links">
                <a href="#" class="breadcrumbs__link">
                    Главная
                </a>
                <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                    <use xlink:href="#breadcrumbs-arrow"></use>
                </svg>
                <a href="#" class="breadcrumbs__link active">
                    Каталог
                </a>
            </div>
        </div>
    </div>


</div>

<div class="page-heading">
    <div class="container">
        <div class="inner-container">
            <h1 class="section-heading">
                Каталог продукции
            </h1>
        </div>
    </div>
</div>


<section class="catalog">
    <div class="container">
        <div class="inner-container">

            <ul class="catalog__list">
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Новинки
                        </h4>
                        <img data-src="img/catalog/1.png" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            VIP-подарки
                        </h4>
                        <img data-src="img/catalog/2.png" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Активный отдых
                        </h4>
                        <img data-src="img/catalog/3.png" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Брелоки
                        </h4>
                        <img data-src="img/catalog/4.png" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Винотека
                        </h4>
                        <img data-src="img/catalog/5.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Ежедневники
                            и изделия для планирования
                        </h4>
                        <img data-src="img/catalog/6.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Зонты
                        </h4>
                        <img data-src="img/catalog/7.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Наборы
                        </h4>
                        <img data-src="img/catalog/8.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Наградная продукция
                        </h4>
                        <img data-src="img/catalog/9.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Настольные принадлежности
                        </h4>
                        <img data-src="img/catalog/10.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Новогодняя коллекция
                        </h4>
                        <img data-src="img/catalog/11.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Одежда
                            и аксессуары
                        </h4>
                        <img data-src="img/catalog/12.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Персональные аксессуары
                        </h4>
                        <img data-src="img/catalog/13.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>

                <li class="catalog__list-item catalog__list-item--wide">
                    <a href="#" class="catalog__all-card">
                        <div class="catalog__all-card-content">
                            <h4 class="catalog__all-card-title">
                                Индивидульные проекты
                            </h4>
                            <div class="btn catalog__all-card-btn">
                                Оставить заявку
                            </div>
                        </div>

                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Персональные аксессуары
                        </h4>
                        <img data-src="img/catalog/14.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Письменные принадлежности
                        </h4>
                        <img data-src="img/catalog/15.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Посуда
                        </h4>
                        <img data-src="img/catalog/16.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Промоассорти
                        </h4>
                        <img data-src="img/catalog/17.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Ремарк
                        </h4>
                        <img data-src="img/catalog/17.png" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Сумки и портфели
                        </h4>
                        <img data-src="img/catalog/18.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Тематические сувениры
                        </h4>
                        <img data-src="img/catalog/19.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Упаковка
                        </h4>
                        <img data-src="img/catalog/20.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Флешки
                        </h4>
                        <img data-src="img/catalog/21.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Часы
                        </h4>
                        <img data-src="img/catalog/22.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Эко-подарки
                        </h4>
                        <img data-src="img/catalog/23.png" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Электроника
                        </h4>
                        <img data-src="img/catalog/24.png" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>




{{/content}}
{{/extend}}