{{#extend "layout"}}
{{#content "main"}}


<div class="breadcrumbs">
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs__links">
                <a href="#" class="breadcrumbs__link">
                    Главная
                </a>
                <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                    <use xlink:href="#breadcrumbs-arrow"></use>
                </svg>
                <a href="#" class="breadcrumbs__link active">
                    Контакты
                </a>
            </div>
        </div>
    </div>


</div>

<div class="page-heading">
    <div class="container">
        <div class="inner-container">
            <h1 class="section-heading">
                Контакты
            </h1>
        </div>
    </div>
</div>


<section class="contacts">
    <div class="container">
        <div class="inner-container">
            <div class="contacts__row">
                <div class="contacts__col">
                    <div class="contacts__table">
                        <table>
                            <tbody>
                                <tr>
                                    <th>
                                        Адрес
                                    </th>
                                    <td>
                                        г. Казань, ул. Деловая, 13
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Телефон
                                    </th>
                                    <td>
                                        8 (843) 292-73-83<br>
                                        факс 292-96-99
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        E-mail
                                    </th>
                                    <td>
                                        <a href="mailto:sales@rmrk.ru">
                                            sales@rmrk.ru
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Соцсети
                                    </th>
                                    <td>
                                        <ul class="contacts__social-list">
                                            <li class="contacts__social-list-item">
                                                <a href="#" class="contacts__social-link">
                                                    <svg width="14" height="14" aria-hidden="true"
                                                        class="icon-instagram">
                                                        <use xlink:href="#instagram"></use>
                                                    </svg>
                                                </a>
                                            </li>
                                            <li class="contacts__social-list-item">
                                                <a href="#" class="contacts__social-link">
                                                    <svg width="14" height="14" aria-hidden="true"
                                                        class="icon-facebook">
                                                        <use xlink:href="#facebook"></use>
                                                    </svg>
                                                </a>
                                            </li>
                                            <li class="contacts__social-list-item">
                                                <a href="#" class="contacts__social-link">
                                                    <svg width="14" height="14" aria-hidden="true"
                                                        class="icon-vkontakte">
                                                        <use xlink:href="#vkontakte"></use>
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <a href="#" class="green-btn contacts__make-call">Заказать звонок</a>
                </div>
                <div class="contacts__col">
                    <div class="contacts__map-wrapper">
                        <div class="contacts__map js-map">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






{{/content}}
{{/extend}}