{{#extend "layout"}}
{{#content "main"}}

<section class="intro-slider">
    <div class="container">
        <div class="intro__main-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="intro__main-slider-card">
                            <div class="intro__main-slider-card-bg">
                                <img src="img/intro-slider.jpg" alt="" class="intro__main-slider-card-bg-image">
                            </div>
                            <div class="inner-container">
                                <div class="intro__main-slider-card-content">
                                    <div class="intro__main-slider-card-label">
                                        Акция
                                    </div>
                                    <h4 class="intro__main-slider-card-title">
                                        Рекламные сувениры по минимальной цене!
                                    </h4>
                                    <div class="intro__main-slider-card-text">
                                        <p>
                                            Выгодное предложение до 30 августа
                                        </p>
                                    </div>
                                    <a href="#" class="btn intro__main-slider-card-btn">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="intro__main-slider-card">
                            <div class="intro__main-slider-card-bg">
                                <img src="img/intro-slider.jpg" alt="" class="intro__main-slider-card-bg-image">
                            </div>
                            <div class="inner-container">
                                <div class="intro__main-slider-card-content">
                                    <div class="intro__main-slider-card-label">
                                        Акция
                                    </div>
                                    <h4 class="intro__main-slider-card-title">
                                        Рекламные сувениры по минимальной цене!
                                    </h4>
                                    <div class="intro__main-slider-card-text">
                                        <p>
                                            Выгодное предложение до 30 августа
                                        </p>
                                    </div>
                                    <a href="#" class="btn intro__main-slider-card-btn">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="intro__main-slider-card">
                            <div class="intro__main-slider-card-bg">
                                <img src="img/intro-slider.jpg" alt="" class="intro__main-slider-card-bg-image">
                            </div>
                            <div class="inner-container">
                                <div class="intro__main-slider-card-content">
                                    <div class="intro__main-slider-card-label">
                                        Акция
                                    </div>
                                    <h4 class="intro__main-slider-card-title">
                                        Рекламные сувениры по минимальной цене!
                                    </h4>
                                    <div class="intro__main-slider-card-text">
                                        <p>
                                            Выгодное предложение до 30 августа
                                        </p>
                                    </div>
                                    <a href="#" class="btn intro__main-slider-card-btn">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-arrows">
                <button class="slider-arrows__btn slider-arrows__btn--prev">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </button>
                <button class="slider-arrows__btn slider-arrows__btn--next">
                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="intro__thumbs-slider">
            <a href="#" class="intro__thumbs-slider-card">
                <div class="intro__thumbs-slider-card-bg">
                    <img src="img/intro-thumbnails/1.jpg" alt="" class="intro__thumbs-slider-card-bg-image">
                </div>
                <h4 class="intro__thumbs-slider-card-title">
                    Рекламные сувениры по минимальной цене!
                </h4>
            </a>
            <a href="#" class="intro__thumbs-slider-card">
                <div class="intro__thumbs-slider-card-bg">
                    <img src="img/intro-thumbnails/2.jpg" alt="" class="intro__thumbs-slider-card-bg-image">
                </div>
                <h4 class="intro__thumbs-slider-card-title intro__thumbs-slider-card-title--white">
                    Рекламные сувениры по минимальной цене!
                </h4>
            </a>
            <a href="#" class="intro__thumbs-slider-card">
                <div class="intro__thumbs-slider-card-bg">
                    <img src="img/intro-thumbnails/3.jpg" alt="" class="intro__thumbs-slider-card-bg-image">
                </div>
                <h4 class="intro__thumbs-slider-card-title">
                    Рекламные сувениры по минимальной цене!
                </h4>
            </a>
            <a href="#" class="intro__thumbs-slider-card">
                <div class="intro__thumbs-slider-card-bg">
                    <img src="img/intro-thumbnails/4.jpg" alt="" class="intro__thumbs-slider-card-bg-image">
                </div>
                <h4 class="intro__thumbs-slider-card-title intro__thumbs-slider-card-title--white">
                    Рекламные сувениры по минимальной цене!
                </h4>
            </a>
            <a href="#" class="intro__thumbs-slider-card">
                <div class="intro__thumbs-slider-card-bg">
                    <img src="img/intro-thumbnails/5.jpg" alt="" class="intro__thumbs-slider-card-bg-image">
                </div>
                <h4 class="intro__thumbs-slider-card-title intro__thumbs-slider-card-title--white">
                    Рекламные сувениры по минимальной цене!
                </h4>
            </a>
        </div>
    </div>
</section>

<section class="press-center js-press-center">
    <div class="container">
        <div class="inner-container">
            <div class="press-center__top-row">
                <h2 class="section-heading press-center__heading">
                    Пресс-центр
                </h2>
                <div class="press-center__controls">
                    <button class="press-center__control active">
                        Новости
                    </button>
                    <button class="press-center__control">
                        Статьи
                    </button>
                    <div class="press-center__controls-indicator">

                    </div>
                </div>
            </div>
            <div class="press-center__slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="press-center__slider-group">
                                <a href="#" class="press-center__slider-card">
                                    <div class="press-center__slider-card-image-container">
                                        <img data-src="img/press-center.jpg" alt=""
                                            class="lazyload press-center__slider-card-image">
                                    </div>
                                    <div class="press-center__slider-card-content">
                                        <h4 class="press-center__slider-card-title">
                                            Разрабатываем единую систему корпоративных сувениров
                                        </h4>
                                        <div class="press-center__slider-card-text">
                                            <p>
                                                Помогают ли Ваши деловые подарки
                                                и промо-сувениры решить маркетинговые задачи компании?
                                            </p>
                                        </div>
                                        <div class="press-center__slider-card-bottom-row">
                                            <div class="press-center__slider-card-more">
                                                Подробнее
                                            </div>
                                            <div class="press-center__slider-card-date">
                                                22.04.2021
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="press-center__slider-card">
                                    <div class="press-center__slider-card-image-container">
                                        <img data-src="img/press-center.jpg" alt=""
                                            class="lazyload press-center__slider-card-image">
                                    </div>
                                    <div class="press-center__slider-card-content">
                                        <h4 class="press-center__slider-card-title">
                                            Разрабатываем единую систему корпоративных сувениров
                                        </h4>
                                        <div class="press-center__slider-card-text">
                                            <p>
                                                Помогают ли Ваши деловые подарки
                                                и промо-сувениры решить маркетинговые задачи компании?
                                            </p>
                                        </div>
                                        <div class="press-center__slider-card-bottom-row">
                                            <div class="press-center__slider-card-more">
                                                Подробнее
                                            </div>
                                            <div class="press-center__slider-card-date">
                                                22.04.2021
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="press-center__slider-group">
                                <a href="#" class="press-center__slider-card">
                                    <div class="press-center__slider-card-image-container">
                                        <img data-src="img/press-center.jpg" alt=""
                                            class="lazyload press-center__slider-card-image">
                                    </div>
                                    <div class="press-center__slider-card-content">
                                        <h4 class="press-center__slider-card-title">
                                            Разрабатываем единую систему корпоративных сувениров
                                        </h4>
                                        <div class="press-center__slider-card-text">
                                            <p>
                                                Помогают ли Ваши деловые подарки
                                                и промо-сувениры решить маркетинговые задачи компании?
                                            </p>
                                        </div>
                                        <div class="press-center__slider-card-bottom-row">
                                            <div class="press-center__slider-card-more">
                                                Подробнее
                                            </div>
                                            <div class="press-center__slider-card-date">
                                                22.04.2021
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="press-center__slider-card">
                                    <div class="press-center__slider-card-image-container">
                                        <img data-src="img/press-center.jpg" alt=""
                                            class="lazyload press-center__slider-card-image">
                                    </div>
                                    <div class="press-center__slider-card-content">
                                        <h4 class="press-center__slider-card-title">
                                            Разрабатываем единую систему корпоративных сувениров
                                        </h4>
                                        <div class="press-center__slider-card-text">
                                            <p>
                                                Помогают ли Ваши деловые подарки
                                                и промо-сувениры решить маркетинговые задачи компании?
                                            </p>
                                        </div>
                                        <div class="press-center__slider-card-bottom-row">
                                            <div class="press-center__slider-card-more">
                                                Подробнее
                                            </div>
                                            <div class="press-center__slider-card-date">
                                                22.04.2021
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<section class="catalog">
    <div class="container">
        <div class="inner-container">
            <h2 class="section-heading catalog__heading">
                Каталог продукции
            </h2>
            <ul class="catalog__list">
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Новинки
                        </h4>
                        <img data-src="img/catalog/1.png" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            VIP-подарки
                        </h4>
                        <img data-src="img/catalog/2.png" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Активный отдых
                        </h4>
                        <img data-src="img/catalog/3.png" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Брелоки
                        </h4>
                        <img data-src="img/catalog/4.png" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Винотека
                        </h4>
                        <img data-src="img/catalog/5.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Ежедневники
                            и изделия для планирования
                        </h4>
                        <img data-src="img/catalog/6.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Зонты
                        </h4>
                        <img data-src="img/catalog/7.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Наборы
                        </h4>
                        <img data-src="img/catalog/8.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Наградная продукция
                        </h4>
                        <img data-src="img/catalog/9.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Настольные принадлежности
                        </h4>
                        <img data-src="img/catalog/10.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Новогодняя коллекция
                        </h4>
                        <img data-src="img/catalog/11.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Одежда
                            и аксессуары
                        </h4>
                        <img data-src="img/catalog/12.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>
                <li class="catalog__list-item">
                    <a href="#" class="catalog__card">
                        <h4 class="catalog__card-title">
                            Персональные аксессуары
                        </h4>
                        <img data-src="img/catalog/13.jpg" alt="" class="lazyload catalog__card-image">
                    </a>
                </li>

                <li class="catalog__list-item catalog__list-item--wide">
                    <a href="#" class="catalog__all-card">
                        <div class="catalog__all-card-content">
                            <h4 class="catalog__all-card-title">
                                Смотреть полный каталог
                            </h4>
                            <div class="btn catalog__all-card-btn">
                                Подробнее
                            </div>
                        </div>

                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>


<section class="cases js-cases">
    <div class="container">
        <div class="inner-container">
            <div class="cases__top-row">
                <h2 class="section-heading cases__heading">
                    Подборки и кейсы
                </h2>
                <div class="slider-arrows cases__slider-arrows">
                    <button class="slider-arrows__btn slider-arrows__btn--green slider-arrows__btn--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="slider-arrows__btn slider-arrows__btn--green slider-arrows__btn--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="cases__slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="cases__slider-card">
                                <div class="cases__slider-card-bg">
                                    <img src="img/cases/1.jpg" alt="" class="cases__slider-card-bg-image">
                                </div>
                                <h4 class="cases__slider-card-title cases__slider-card-title--white">
                                    Подборка
                                    на&nbsp;23&nbsp;февраля
                                </h4>
                                <div class="btn cases__slider-card-btn">
                                    Подробнее
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="cases__slider-card">
                                <div class="cases__slider-card-bg">
                                    <img src="img/cases/2.jpg" alt="" class="cases__slider-card-bg-image">
                                </div>
                                <h4 class="cases__slider-card-title">
                                    Подборка
                                    на&nbsp;8&nbsp;марта
                                </h4>
                                <div class="btn cases__slider-card-btn">
                                    Подробнее
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="cases__slider-card">
                                <div class="cases__slider-card-bg">
                                    <img src="img/cases/3.jpg" alt="" class="cases__slider-card-bg-image">
                                </div>
                                <h4 class="cases__slider-card-title cases__slider-card-title--white">
                                    Подборка
                                    на&nbsp;Новый год
                                </h4>
                                <div class="btn cases__slider-card-btn">
                                    Подробнее
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="cases__slider-card">
                                <div class="cases__slider-card-bg">
                                    <img src="img/cases/4.jpg" alt="" class="cases__slider-card-bg-image">
                                </div>
                                <h4 class="cases__slider-card-title">
                                    Подборка
                                    на&nbsp;14&nbsp;февраля
                                </h4>
                                <div class="btn cases__slider-card-btn">
                                    Подробнее
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="cases__slider-card">
                                <div class="cases__slider-card-bg">
                                    <img src="img/cases/1.jpg" alt="" class="cases__slider-card-bg-image">
                                </div>
                                <h4 class="cases__slider-card-title cases__slider-card-title--white">
                                    Подборка
                                    на&nbsp;23&nbsp;февраля
                                </h4>
                                <div class="btn cases__slider-card-btn">
                                    Подробнее
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="cases__slider-card">
                                <div class="cases__slider-card-bg">
                                    <img src="img/cases/2.jpg" alt="" class="cases__slider-card-bg-image">
                                </div>
                                <h4 class="cases__slider-card-title">
                                    Подборка
                                    на&nbsp;8&nbsp;марта
                                </h4>
                                <div class="btn cases__slider-card-btn">
                                    Подробнее
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="cases__slider-card">
                                <div class="cases__slider-card-bg">
                                    <img src="img/cases/3.jpg" alt="" class="cases__slider-card-bg-image">
                                </div>
                                <h4 class="cases__slider-card-title cases__slider-card-title--white">
                                    Подборка
                                    на&nbsp;Новый год
                                </h4>
                                <div class="btn cases__slider-card-btn">
                                    Подробнее
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="cases__slider-card">
                                <div class="cases__slider-card-bg">
                                    <img src="img/cases/4.jpg" alt="" class="cases__slider-card-bg-image">
                                </div>
                                <h4 class="cases__slider-card-title">
                                    Подборка
                                    на&nbsp;14&nbsp;февраля
                                </h4>
                                <div class="btn cases__slider-card-btn">
                                    Подробнее
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="reviews js-reviews">
    <div class="container">
        <div class="inner-container">
            <h2 class="section-heading reviews__heading">
                Отзывы наших клиентов
            </h2>
            <div class="reviews__slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="reviews__slider-card">
                                <a href="#" class="reviews__slider-card-video-container">
                                    <img src="img/video-preview.jpg" alt="" class="reviews__slider-card-video-preview">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                        <use xlink:href="#play"></use>
                                    </svg>
                                </a>
                                <div class="reviews__slider-card-content">
                                    <h4 class="reviews__slider-card-title">
                                        Александр
                                    </h4>
                                    <div class="reviews__slider-card-text">
                                        <p>
                                            Всем советую , клиентоориентиртванные ребята. Приехали, товар в наличии был
                                            как и говорили по телефону , очень большой выбор. 5 звезды ставлю
                                        </p>
                                    </div>
                                    <div class="reviews__slider-card-rating">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="14" height="14" aria-hidden="true" class="icon-star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="14" height="14" aria-hidden="true" class="icon-star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="14" height="14" aria-hidden="true" class="icon-star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="14" height="14" aria-hidden="true" class="icon-star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="reviews__slider-card">
                                <a href="#" class="reviews__slider-card-video-container">
                                    <img src="img/video-preview.jpg" alt="" class="reviews__slider-card-video-preview">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-play">
                                        <use xlink:href="#play"></use>
                                    </svg>
                                </a>
                                <div class="reviews__slider-card-content">
                                    <h4 class="reviews__slider-card-title">
                                        Александр
                                    </h4>
                                    <div class="reviews__slider-card-text">
                                        <p>
                                            Всем советую , клиентоориентиртванные ребята. Приехали, товар в наличии был
                                            как и говорили по телефону , очень большой выбор. 5 звезды ставлю
                                        </p>
                                    </div>
                                    <div class="reviews__slider-card-rating">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="14" height="14" aria-hidden="true" class="icon-star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="14" height="14" aria-hidden="true" class="icon-star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="14" height="14" aria-hidden="true" class="icon-star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                        <svg width="14" height="14" aria-hidden="true" class="icon-star">
                                            <use xlink:href="#star"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="slider-arrows reviews__slider-arrows">
                    <button class="slider-arrows__btn slider-arrows__btn--green slider-arrows__btn--prev">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="slider-arrows__btn slider-arrows__btn--green slider-arrows__btn--next">
                        <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="partners js-partners">
    <div class="container">
        <div class="inner-container">
            <div class="partners__content">


                <div class="partners__top-row">
                    <h2 class="section-heading partners__heading">
                        Работаем с крупнейшими компаниями
                    </h2>
                    <div class="slider-arrows partners__slider-arrows">
                        <button class="slider-arrows__btn slider-arrows__btn--green slider-arrows__btn--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <button class="slider-arrows__btn slider-arrows__btn--green slider-arrows__btn--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="partners__slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="partners__slider-card">
                                    <div class="partners__slider-card-image-container">
                                        <img data-src="img/companies/merlion.svg" alt=""
                                            class="lazyload partners__slider-card-image">
                                        <img data-src="img/companies/merlion.svg" alt=""
                                            class="lazyload partners__slider-card-image partners__slider-card-image--monochrome">


                                    </div>
                                    <h4 class="partners__slider-card-title">
                                        Merlion
                                    </h4>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="partners__slider-card">
                                    <div class="partners__slider-card-image-container">
                                        <img data-src="img/companies/stan.png" alt=""
                                            class="lazyload partners__slider-card-image">
                                        <img data-src="img/companies/stan.png" alt=""
                                            class="lazyload partners__slider-card-image partners__slider-card-image--monochrome">
                                    </div>
                                    <h4 class="partners__slider-card-title">
                                        Stan
                                    </h4>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="partners__slider-card">
                                    <div class="partners__slider-card-image-container">
                                        <img data-src="img/companies/oasis.svg" alt=""
                                            class="lazyload partners__slider-card-image">
                                        <img data-src="img/companies/oasis.svg" alt=""
                                            class="lazyload partners__slider-card-image partners__slider-card-image--monochrome">
                                    </div>
                                    <h4 class="partners__slider-card-title">
                                        Oasis
                                    </h4>

                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="#" class="partners__slider-card">
                                    <div class="partners__slider-card-image-container">
                                        <img data-src="img/companies/happy-gifts.svg" alt=""
                                            class="lazyload partners__slider-card-image">
                                        <img data-src="img/companies/happy-gifts.svg" alt=""
                                            class="lazyload partners__slider-card-image partners__slider-card-image--monochrome">
                                    </div>
                                    <h4 class="partners__slider-card-title">
                                        Happy Gifts
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="partners__slider-card">
                                    <div class="partners__slider-card-image-container">
                                        <img data-src="img/companies/ocean.png" alt=""
                                            class="lazyload partners__slider-card-image">
                                        <img data-src="img/companies/ocean.png" alt=""
                                            class="lazyload partners__slider-card-image partners__slider-card-image--monochrome">
                                    </div>
                                    <h4 class="partners__slider-card-title">
                                        Океан
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="partners__slider-card">
                                    <div class="partners__slider-card-image-container">
                                        <img data-src="img/companies/project111.svg" alt=""
                                            class="lazyload  partners__slider-card-image">
                                        <img data-src="img/companies/project111.svg" alt=""
                                            class="lazyload partners__slider-card-image partners__slider-card-image--monochrome">
                                    </div>
                                    <h4 class="partners__slider-card-title">
                                        Проект 111
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="partners__slider-card">
                                    <div class="partners__slider-card-image-container">
                                        <img data-src="img/companies/portobello.svg" alt=""
                                            class="lazyload partners__slider-card-image">
                                        <img data-src="img/companies/portobello.svg" alt=""
                                            class="lazyload partners__slider-card-image partners__slider-card-image--monochrome">
                                    </div>
                                    <h4 class="partners__slider-card-title">
                                        Portobello
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="partners__slider-card">
                                    <div class="partners__slider-card-image-container">
                                        <img data-src="img/companies/xindao.svg" alt=""
                                            class="lazyload partners__slider-card-image">
                                        <img data-src="img/companies/xindao.svg" alt=""
                                            class="lazyload partners__slider-card-image partners__slider-card-image--monochrome">
                                    </div>
                                    <h4 class="partners__slider-card-title">
                                        Xindao
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="partners__slider-card">
                                    <div class="partners__slider-card-image-container">
                                        <img data-src="img/companies/merlion.svg" alt=""
                                            class="lazyload partners__slider-card-image">
                                        <img data-src="img/companies/merlion.svg" alt=""
                                            class="lazyload partners__slider-card-image partners__slider-card-image--monochrome">


                                    </div>
                                    <h4 class="partners__slider-card-title">
                                        Merlion
                                    </h4>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="partners__slider-card">
                                    <div class="partners__slider-card-image-container">
                                        <img data-src="img/companies/stan.png" alt=""
                                            class="lazyload partners__slider-card-image">
                                        <img data-src="img/companies/stan.png" alt=""
                                            class="lazyload partners__slider-card-image partners__slider-card-image--monochrome">
                                    </div>
                                    <h4 class="partners__slider-card-title">
                                        Stan
                                    </h4>

                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="partners__slider-card">
                                    <div class="partners__slider-card-image-container">
                                        <img data-src="img/companies/oasis.svg" alt=""
                                            class="lazyload partners__slider-card-image">
                                        <img data-src="img/companies/oasis.svg" alt=""
                                            class="lazyload partners__slider-card-image partners__slider-card-image--monochrome">
                                    </div>
                                    <h4 class="partners__slider-card-title">
                                        Oasis
                                    </h4>

                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="#" class="partners__slider-card">
                                    <div class="partners__slider-card-image-container">
                                        <img data-src="img/companies/happy-gifts.svg" alt=""
                                            class="lazyload partners__slider-card-image">
                                        <img data-src="img/companies/happy-gifts.svg" alt=""
                                            class="lazyload partners__slider-card-image partners__slider-card-image--monochrome">
                                    </div>
                                    <h4 class="partners__slider-card-title">
                                        Happy Gifts
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="partners__slider-card">
                                    <div class="partners__slider-card-image-container">
                                        <img data-src="img/companies/ocean.png" alt=""
                                            class="lazyload partners__slider-card-image">
                                        <img data-src="img/companies/ocean.png" alt=""
                                            class="lazyload partners__slider-card-image partners__slider-card-image--monochrome">
                                    </div>
                                    <h4 class="partners__slider-card-title">
                                        Океан
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="partners__slider-card">
                                    <div class="partners__slider-card-image-container">
                                        <img data-src="img/companies/project111.svg" alt=""
                                            class="lazyload  partners__slider-card-image">
                                        <img data-src="img/companies/project111.svg" alt=""
                                            class="lazyload partners__slider-card-image partners__slider-card-image--monochrome">
                                    </div>
                                    <h4 class="partners__slider-card-title">
                                        Проект 111
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="partners__slider-card">
                                    <div class="partners__slider-card-image-container">
                                        <img data-src="img/companies/portobello.svg" alt=""
                                            class="lazyload partners__slider-card-image">
                                        <img data-src="img/companies/portobello.svg" alt=""
                                            class="lazyload partners__slider-card-image partners__slider-card-image--monochrome">
                                    </div>
                                    <h4 class="partners__slider-card-title">
                                        Portobello
                                    </h4>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="partners__slider-card">
                                    <div class="partners__slider-card-image-container">
                                        <img data-src="img/companies/xindao.svg" alt=""
                                            class="lazyload partners__slider-card-image">
                                        <img data-src="img/companies/xindao.svg" alt=""
                                            class="lazyload partners__slider-card-image partners__slider-card-image--monochrome">
                                    </div>
                                    <h4 class="partners__slider-card-title">
                                        Xindao
                                    </h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{{/content}}
{{/extend}}