{{#extend "layout"}}
{{#content "main"}}


<div class="breadcrumbs">
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs__links">
                <a href="#" class="breadcrumbs__link">
                    Главная
                </a>
                <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                    <use xlink:href="#breadcrumbs-arrow"></use>
                </svg>
                <a href="#" class="breadcrumbs__link active">
                    Новости
                </a>
            </div>
        </div>
    </div>


</div>

<div class="page-heading">
    <div class="container">
        <div class="inner-container">
            <h1 class="section-heading">
                Новости
            </h1>
        </div>
    </div>
</div>


<section class="news-catalog">
    <div class="container">
        <div class="inner-container">
            <ul class="news-catalog__list">
                <li class="news-catalog__list-item">
                    <a href="#" class="news-catalog__card">
                        <div class="news-catalog__card-image-container">
                            <img data-src="img/services-catalog/services-catalog-card.jpg" alt="" class="news-catalog__card-image lazyload">
                        </div>
                        <div class="news-catalog__card-content">
                            <h4 class="news-catalog__card-title">
                                Когда надо сфоткать произведённую продукцию, а профессиональных моделей под рукой нет:)
                            </h4>
                            <div class="news-catalog__card-date">
                                22.04.2021
                            </div>
                            <div class="news-catalog__card-text">
                                <p>
                                    Когда надо сфоткать произведённую продукцию, а профессиональных моделей под рукой нет, на помощь приходят менеджер по продажам, директор по развитию, аккаунт-менеджер, дизайнер и даже шелкограф!:)
                                </p>
                            </div>
                            <div class="news-catalog__card-more">
                                Подробнее
                            </div>
                        </div>
                    </a>
                </li>
                <li class="news-catalog__list-item">
                    <a href="#" class="news-catalog__card">
                        <div class="news-catalog__card-image-container">
                            <img data-src="img/services-catalog/services-catalog-card.jpg" alt="" class="news-catalog__card-image lazyload">
                        </div>
                        <div class="news-catalog__card-content">
                            <h4 class="news-catalog__card-title">
                                Когда надо сфоткать произведённую продукцию, а профессиональных моделей под рукой нет:)
                            </h4>
                            <div class="news-catalog__card-date">
                                22.04.2021
                            </div>
                            <div class="news-catalog__card-text">
                                <p>
                                    Когда надо сфоткать произведённую продукцию, а профессиональных моделей под рукой нет, на помощь приходят менеджер по продажам, директор по развитию, аккаунт-менеджер, дизайнер и даже шелкограф!:)
                                </p>
                            </div>
                            <div class="news-catalog__card-more">
                                Подробнее
                            </div>
                        </div>
                    </a>
                </li>
                <li class="news-catalog__list-item">
                    <a href="#" class="news-catalog__card">
                        <div class="news-catalog__card-image-container">
                            <img data-src="img/services-catalog/services-catalog-card.jpg" alt="" class="news-catalog__card-image lazyload">
                        </div>
                        <div class="news-catalog__card-content">
                            <h4 class="news-catalog__card-title">
                                Когда надо сфоткать произведённую продукцию, а профессиональных моделей под рукой нет:)
                            </h4>
                            <div class="news-catalog__card-date">
                                22.04.2021
                            </div>
                            <div class="news-catalog__card-text">
                                <p>
                                    Когда надо сфоткать произведённую продукцию, а профессиональных моделей под рукой нет, на помощь приходят менеджер по продажам, директор по развитию, аккаунт-менеджер, дизайнер и даже шелкограф!:)
                                </p>
                            </div>
                            <div class="news-catalog__card-more">
                                Подробнее
                            </div>
                        </div>
                    </a>
                </li>
                <li class="news-catalog__list-item">
                    <a href="#" class="news-catalog__card">
                        <div class="news-catalog__card-image-container">
                            <img data-src="img/services-catalog/services-catalog-card.jpg" alt="" class="news-catalog__card-image lazyload">
                        </div>
                        <div class="news-catalog__card-content">
                            <h4 class="news-catalog__card-title">
                                Когда надо сфоткать произведённую продукцию, а профессиональных моделей под рукой нет:)
                            </h4>
                            <div class="news-catalog__card-date">
                                22.04.2021
                            </div>
                            <div class="news-catalog__card-text">
                                <p>
                                    Когда надо сфоткать произведённую продукцию, а профессиональных моделей под рукой нет, на помощь приходят менеджер по продажам, директор по развитию, аккаунт-менеджер, дизайнер и даже шелкограф!:)
                                </p>
                            </div>
                            <div class="news-catalog__card-more">
                                Подробнее
                            </div>
                        </div>
                    </a>
                </li>
                <li class="news-catalog__list-item">
                    <a href="#" class="news-catalog__card">
                        <div class="news-catalog__card-image-container">
                            <img data-src="img/services-catalog/services-catalog-card.jpg" alt="" class="news-catalog__card-image lazyload">
                        </div>
                        <div class="news-catalog__card-content">
                            <h4 class="news-catalog__card-title">
                                Когда надо сфоткать произведённую продукцию, а профессиональных моделей под рукой нет:)
                            </h4>
                            <div class="news-catalog__card-date">
                                22.04.2021
                            </div>
                            <div class="news-catalog__card-text">
                                <p>
                                    Когда надо сфоткать произведённую продукцию, а профессиональных моделей под рукой нет, на помощь приходят менеджер по продажам, директор по развитию, аккаунт-менеджер, дизайнер и даже шелкограф!:)
                                </p>
                            </div>
                            <div class="news-catalog__card-more">
                                Подробнее
                            </div>
                        </div>
                    </a>
                </li>
                <li class="news-catalog__list-item">
                    <a href="#" class="news-catalog__card">
                        <div class="news-catalog__card-image-container">
                            <img data-src="img/services-catalog/services-catalog-card.jpg" alt="" class="news-catalog__card-image lazyload">
                        </div>
                        <div class="news-catalog__card-content">
                            <h4 class="news-catalog__card-title">
                                Когда надо сфоткать произведённую продукцию, а профессиональных моделей под рукой нет:)
                            </h4>
                            <div class="news-catalog__card-date">
                                22.04.2021
                            </div>
                            <div class="news-catalog__card-text">
                                <p>
                                    Когда надо сфоткать произведённую продукцию, а профессиональных моделей под рукой нет, на помощь приходят менеджер по продажам, директор по развитию, аккаунт-менеджер, дизайнер и даже шелкограф!:)
                                </p>
                            </div>
                            <div class="news-catalog__card-more">
                                Подробнее
                            </div>
                        </div>
                    </a>
                </li>
            </ul>

            <div class="pagination">
                <div class="pagination__links">
                    <a href="#" class="pagination__link">
                        <
                    </a>
                    <a href="#" class="pagination__link active">
                        1
                    </a>
                    <a href="#" class="pagination__link">
                        2
                    </a>
                    <a href="#" class="pagination__link">
                        3
                    </a>
                    <a href="#" class="pagination__link">
                        4
                    </a>
                    <a href="#" class="pagination__link">
                        _
                    </a>
                    <a href="#" class="pagination__link">
                        8
                    </a>
                    <a href="#" class="pagination__link">
                        >
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>






{{/content}}
{{/extend}}