{{#extend "layout"}}
{{#content "main"}}


<div class="breadcrumbs">
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs__links">
                <a href="#" class="breadcrumbs__link">
                    Главная
                </a>
                <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                    <use xlink:href="#breadcrumbs-arrow"></use>
                </svg>
                <a href="#" class="breadcrumbs__link">
                    Новости
                </a>
                <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                    <use xlink:href="#breadcrumbs-arrow"></use>
                </svg>
                <a href="#" class="breadcrumbs__link active">
                    Когда надо сфоткать произведённую продукцию, а профессиональных моделей под рукой нет:)
                </a>
            </div>
        </div>
    </div>


</div>

<div class="page-heading">
    <div class="container">
        <div class="inner-container">
            <h1 class="section-heading">
                Когда надо сфоткать произведённую продукцию,
                а профессиональных моделей под рукой нет:)
            </h1>
            <div class="page-heading__date">
                22.04.2021
            </div>
        </div>
    </div>
</div>



<section class="news-detail">
    <div class="container">
        <div class="inner-container">
            <div class="news-detail__gallery">
                <div class="gallery-slider gallery-slider--narrow js-gallery-slider">
                    <div class="gallery-slider__main">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="gallery-slider__main-card">
                                        <img data-src="img/gallery-slider-large-image.jpg" alt=""
                                            class="gallery-slider__main-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="gallery-slider__main-card">
                                        <img data-src="img/gallery-slider-large-image.jpg" alt=""
                                            class="gallery-slider__main-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="gallery-slider__main-card">
                                        <img data-src="img/gallery-slider-large-image.jpg" alt=""
                                            class="gallery-slider__main-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="gallery-slider__main-card">
                                        <img data-src="img/gallery-slider-large-image.jpg" alt=""
                                            class="gallery-slider__main-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="gallery-slider__main-card">
                                        <img data-src="img/gallery-slider-large-image.jpg" alt=""
                                            class="gallery-slider__main-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="gallery-slider__main-card">
                                        <img data-src="img/gallery-slider-large-image.jpg" alt=""
                                            class="gallery-slider__main-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="gallery-slider__main-card">
                                        <img data-src="img/gallery-slider-large-image.jpg" alt=""
                                            class="gallery-slider__main-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="gallery-slider__main-card">
                                        <img data-src="img/gallery-slider-large-image.jpg" alt=""
                                            class="gallery-slider__main-card-image lazyload">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="gallery-slider__main-card">
                                        <img data-src="img/gallery-slider-large-image.jpg" alt=""
                                            class="gallery-slider__main-card-image lazyload">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="gallery-slider__thumbs">
                        <div class="gallery-slider__thumbs-inner">


                            <button class="gallery-slider__arrow gallery-slider__arrow--prev">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                    <use xlink:href="#arrow-left"></use>
                                </svg>
                            </button>
                            <div class="gallery-slider__thumbs-wrapper">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__thumbs-card">
                                                <img data-src="img/thumbs.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image lazyload">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__thumbs-card">
                                                <img data-src="img/thumbs.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image lazyload">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__thumbs-card">
                                                <img data-src="img/thumbs.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image lazyload">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__thumbs-card">
                                                <img data-src="img/thumbs.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image lazyload">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__thumbs-card">
                                                <img data-src="img/thumbs.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image lazyload">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__thumbs-card">
                                                <img data-src="img/thumbs.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image lazyload">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__thumbs-card">
                                                <img data-src="img/thumbs.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image lazyload">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__thumbs-card">
                                                <img data-src="img/thumbs.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image lazyload">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="gallery-slider__thumbs-card">
                                                <img data-src="img/thumbs.jpg" alt=""
                                                    class="gallery-slider__thumbs-card-image lazyload">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="gallery-slider__arrow gallery-slider__arrow--next">
                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-detail__text">
                <p>
                    Офис Ремарк`а выполнен в стиле "Лофт". Штаб-квартира компании расположена на территории бывшего
                    хлебозавода. Снаружи, это ничем не выдающаяся постройка в несколько этажей. Но внутри, ты словно
                    становишься персонажем американского кинофильма. Дизайн нашего офиса не оставит тебя равнодушным. У
                    каждого сотрудника есть своя рабочая зона, но при этом, сохраняется единство коллектива в целом.
                    Офис выполнен в светлых тонах, настоящее пространство для творчества! На территории офиса
                    оборудована большая кухня для сотрудников. Мы предоставляем все необходимое для твоего комфорта.
                    Также, на территории здания работает кафе с домашней кухней, для сотрудников выделены парковочные
                    места. Удобное территориальное расположение.
                </p>
            </div>
        </div>
    </div>
</section>






{{/content}}
{{/extend}}