{{#extend "layout"}}
{{#content "main"}}


<div class="breadcrumbs">
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs__links">
                <a href="#" class="breadcrumbs__link">
                    Главная
                </a>
                <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                    <use xlink:href="#breadcrumbs-arrow"></use>
                </svg>
                <a href="#" class="breadcrumbs__link active">
                    Брелоки
                </a>
            </div>
        </div>
    </div>


</div>

<div class="page-heading">
    <div class="container">
        <div class="inner-container">
            <h1 class="section-heading">
                Брелоки
            </h1>
        </div>
    </div>
</div>



<section class="products">
    <div class="container">
        <div class="inner-container">
            <div class="products__layout">
                <div class="products__sidebar js-products-sidebar">
                    <div class="products__sidebar-inner">


                        <div class="products__subcategories">
                            <div class="products__categories-block">


                                <ul class="products__categories-list">
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Все
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Брелоки металл
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Брелоки пластик
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Брелоки-рулетки
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Брелоки-фонарики
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Оригинальные брелоки
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="products__categories">
                            <h3 class="products__categories-heading">
                                Категории
                            </h3>
                            <div class="products__categories-block">


                                <ul class="products__categories-list">
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Новинки
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            VIP-подарки
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Активный отдых
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Винотека
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link active">
                                            Брелоки
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Дом
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Ежедневники и изделия для планирования
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Зонты
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Наборы
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Наградная продукция
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Настольные принадлежности
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Новогодняя коллекция
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Одежда и аксессуары
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Персональные аксессуары
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Письменные принадлежности
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Посуда
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Промоассорти
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Ремарк
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Сумки и портфели
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Тематические сувениры
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Упаковка
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Флешки
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products__main">
                    <div class="products__tags">
                        <ul class="products__tags-list">
                            <li class="products__tags-list-item">
                                <a href="#" class="products__tag">
                                    8 марта
                                </a>
                            </li>
                            <li class="products__tags-list-item">
                                <a href="#" class="products__tag">
                                    23 февраля
                                </a>
                            </li>
                            <li class="products__tags-list-item">
                                <a href="#" class="products__tag">
                                    Для девушек
                                </a>
                            </li>
                            <li class="products__tags-list-item">
                                <a href="#" class="products__tag">
                                    Для парней
                                </a>
                            </li>
                            <li class="products__tags-list-item">
                                <a href="#" class="products__tag">
                                    Новый год
                                </a>
                            </li>
                            <li class="products__tags-list-item">
                                <a href="#" class="products__tag">
                                    Подарок босу
                                </a>
                            </li>
                            <li class="products__tags-list-item">
                                <a href="#" class="products__tag">
                                    Подарок коллеге
                                </a>
                            </li>
                            <li class="products__tags-list-item">
                                <a href="#" class="products__tag">
                                    Подарок коллеге
                                </a>
                            </li>

                            <li class="products__tags-list-item products__tags-list-item--hidden">
                                <a href="#" class="products__tag">
                                    8 марта
                                </a>
                            </li>
                            <li class="products__tags-list-item products__tags-list-item--hidden">
                                <a href="#" class="products__tag">
                                    23 февраля
                                </a>
                            </li>
                            <li class="products__tags-list-item products__tags-list-item--hidden">
                                <a href="#" class="products__tag">
                                    Для девушек
                                </a>
                            </li>
                        </ul>
                        <button class="products__tags-show-more" data-text="Скрыть">
                            Показать еще
                        </button>
                    </div>
                    <form action="/" method="GET" class="products__filters">
                        <div class="products__filters-block">
                            <div class="products__filters-price">
                                <h3 class="products__filters-price-heading">
                                    Цена
                                </h3>
                                <div class="products__filters-price-content js-filters-range" data-min="0"
                                    data-max="150000" data-step="100">
                                    <div class="products__filters-price-range-inputs">
                                        <div class="filters-price-range-input-wrapper">
                                            <label for="price-from" class="filters-price-range-input-label">от</label>
                                            <input type="tel" name="price-from"
                                                class="products__filters-price-range-input" id="price-from" value="0">
                                        </div>
                                        <div class="filters-price-range-input-wrapper">
                                            <label for="price-to" class="filters-price-range-input-label">до</label>
                                            <input type="tel" name="price-to"
                                                class="products__filters-price-range-input" id="price-to" value="30000">
                                        </div>
                                    </div>
                                    <div class="products__filters-price-range-slider"></div>
                                </div>
                            </div>
                            <div class="products__filters-selects">
                                <div class="products__filters-select">
                                    <select name="color" class="js-custom-select">
                                        <option value="" placeholder>Цвет</option>
                                        <option value="green">Зеленый</option>
                                        <option value="red">Красный</option>
                                    </select>
                                </div>
                                <div class="products__filters-select">
                                    <select name="material" class="js-custom-select">
                                        <option value="" placeholder>Материал</option>
                                        <option value="1">Материал 1</option>
                                        <option value="2">Материал 2</option>
                                    </select>
                                </div>
                                <div class="products__filters-select">
                                    <select name="surface" class="js-custom-select">
                                        <option value="" placeholder>Нанесение</option>
                                        <option value="1">Нанесение 1</option>
                                        <option value="2">Нанесение 2</option>
                                    </select>
                                </div>
                                <div class="products__filters-select">
                                    <select name="brand" class="js-custom-select">
                                        <option value="" placeholder>Бренд</option>
                                        <option value="1">Бренд 1</option>
                                        <option value="2">Бренд 2</option>
                                        <option value="3">Длинное название</option>
                                    </select>
                                </div>
                                <div class="products__filters-select">
                                    <select name="gender" class="js-custom-select">
                                        <option value="" placeholder>Пол</option>
                                        <option value="1">Пол 1</option>
                                        <option value="2">Пол 2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="products__filters-modes">
                                <a href="products.html" class="products__filters-modes-link active">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-grid-view">
                                        <use xlink:href="#grid-view"></use>
                                    </svg>
                                </a>
                                <a href="products-list.html" class="products__filters-modes-link ">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-list-view">
                                        <use xlink:href="#list-view"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="products__filters-controls">
                            <div class="products__filters-sort">
                                <div class="products__filters-sort-title">
                                    Сортировать по:
                                </div>
                                <div class="products__filters-sort-select">
                                    <select name="sort" class="js-custom-select">
                                        <option value="price">
                                            Цене
                                        </option>
                                        <option value="popular">
                                            Популярности
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <button type="reset" class="products__filters-reset">
                                <svg width="14" height="14" aria-hidden="true" class="icon-trash">
                                    <use xlink:href="#trash"></use>
                                </svg>
                                <span class="products__filters-text">
                                    Очистить фильтры
                                </span>

                            </button>
                        </div>
                    </form>
                    <ul class="products__catalog-list">
                        {{#times 16}}
                        <li class="products__catalog-list-item">
                            {{> product-card }}
                        </li>
                        {{/times}}
                    </ul>

                    <div class="pagination">
                        <div class="pagination__links">
                            <a href="#" class="pagination__link">
                                &lt;
                            </a>
                            <a href="#" class="pagination__link active">
                                1
                            </a>
                            <a href="#" class="pagination__link">
                                2
                            </a>
                            <a href="#" class="pagination__link">
                                3
                            </a>
                            <a href="#" class="pagination__link">
                                4
                            </a>
                            <a href="#" class="pagination__link">
                                _
                            </a>
                            <a href="#" class="pagination__link">
                                8
                            </a>
                            <a href="#" class="pagination__link">
                                &gt;
                            </a>
                        </div>
                    </div>

                    <div class="cases cases--compact cases--integrated js-cases">


                        <div class="cases__top-row">
                            <h2 class="section-heading cases__heading">
                                Подборки и кейсы
                            </h2>
                            <div class="slider-arrows cases__slider-arrows">
                                <button class="slider-arrows__btn slider-arrows__btn--green slider-arrows__btn--prev">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                        <use xlink:href="#arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="slider-arrows__btn slider-arrows__btn--green slider-arrows__btn--next">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="cases__slider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="#" class="cases__slider-card">
                                            <div class="cases__slider-card-bg">
                                                <img src="img/cases/1.jpg" alt="" class="cases__slider-card-bg-image">
                                            </div>
                                            <h4 class="cases__slider-card-title cases__slider-card-title--white">
                                                Подборка
                                                на&nbsp;23&nbsp;февраля
                                            </h4>
                                            <div class="btn cases__slider-card-btn">
                                                Подробнее
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="cases__slider-card">
                                            <div class="cases__slider-card-bg">
                                                <img src="img/cases/2.jpg" alt="" class="cases__slider-card-bg-image">
                                            </div>
                                            <h4 class="cases__slider-card-title">
                                                Подборка
                                                на&nbsp;8&nbsp;марта
                                            </h4>
                                            <div class="btn cases__slider-card-btn">
                                                Подробнее
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="cases__slider-card">
                                            <div class="cases__slider-card-bg">
                                                <img src="img/cases/3.jpg" alt="" class="cases__slider-card-bg-image">
                                            </div>
                                            <h4 class="cases__slider-card-title cases__slider-card-title--white">
                                                Подборка
                                                на&nbsp;Новый год
                                            </h4>
                                            <div class="btn cases__slider-card-btn">
                                                Подробнее
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="cases__slider-card">
                                            <div class="cases__slider-card-bg">
                                                <img src="img/cases/4.jpg" alt="" class="cases__slider-card-bg-image">
                                            </div>
                                            <h4 class="cases__slider-card-title">
                                                Подборка
                                                на&nbsp;14&nbsp;февраля
                                            </h4>
                                            <div class="btn cases__slider-card-btn">
                                                Подробнее
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="cases__slider-card">
                                            <div class="cases__slider-card-bg">
                                                <img src="img/cases/1.jpg" alt="" class="cases__slider-card-bg-image">
                                            </div>
                                            <h4 class="cases__slider-card-title cases__slider-card-title--white">
                                                Подборка
                                                на&nbsp;23&nbsp;февраля
                                            </h4>
                                            <div class="btn cases__slider-card-btn">
                                                Подробнее
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="cases__slider-card">
                                            <div class="cases__slider-card-bg">
                                                <img src="img/cases/2.jpg" alt="" class="cases__slider-card-bg-image">
                                            </div>
                                            <h4 class="cases__slider-card-title">
                                                Подборка
                                                на&nbsp;8&nbsp;марта
                                            </h4>
                                            <div class="btn cases__slider-card-btn">
                                                Подробнее
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="cases__slider-card">
                                            <div class="cases__slider-card-bg">
                                                <img src="img/cases/3.jpg" alt="" class="cases__slider-card-bg-image">
                                            </div>
                                            <h4 class="cases__slider-card-title cases__slider-card-title--white">
                                                Подборка
                                                на&nbsp;Новый год
                                            </h4>
                                            <div class="btn cases__slider-card-btn">
                                                Подробнее
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="cases__slider-card">
                                            <div class="cases__slider-card-bg">
                                                <img src="img/cases/4.jpg" alt="" class="cases__slider-card-bg-image">
                                            </div>
                                            <h4 class="cases__slider-card-title">
                                                Подборка
                                                на&nbsp;14&nbsp;февраля
                                            </h4>
                                            <div class="btn cases__slider-card-btn">
                                                Подробнее
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cases__bottom-text">
                            <p>
                                Брело́к — аксессуар, украшение, выполненное в виде подвески на цепочке, браслете, кольце
                                для ключей и другое. Обычно используется в декоративных и рекламных целях. Брелок
                                способствует уменьшению вероятности потери ключей, за счёт увеличения размера, массы
                                связки. Брелок также может выполнять дополнительную полезную функцию, например,
                                представлять собой мини-фонарик, дистанционный пульт управления для автомобиля,
                                открывалку для бутылок, пудреницу и так далее. Брелок — типичный сувенир или подарок.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{{/content}}
{{/extend}}