{{#extend "layout"}}
{{#content "main"}}


<div class="breadcrumbs">
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs__links">
                <a href="#" class="breadcrumbs__link">
                    Главная
                </a>
                <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                    <use xlink:href="#breadcrumbs-arrow"></use>
                </svg>
                <a href="#" class="breadcrumbs__link active">
                    Брелоки
                </a>
            </div>
        </div>
    </div>


</div>





<section class="products">
    <div class="container">
        <div class="inner-container">
            <div class="products__layout">
                <div class="products__sidebar js-products-sidebar">
                    <div class="products__sidebar-inner">


                        <div class="products__subcategories">
                            <div class="products__categories-block">


                                <ul class="products__categories-list">
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Все
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Брелоки металл
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Брелоки пластик
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Брелоки-рулетки
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Брелоки-фонарики
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Оригинальные брелоки
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="products__categories">
                            <h3 class="products__categories-heading">
                                Категории
                            </h3>
                            <div class="products__categories-block">


                                <ul class="products__categories-list">
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Новинки
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            VIP-подарки
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Активный отдых
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Винотека
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link active">
                                            Брелоки
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Дом
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Ежедневники и изделия для планирования
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Зонты
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Наборы
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Наградная продукция
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Настольные принадлежности
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Новогодняя коллекция
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Одежда и аксессуары
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Персональные аксессуары
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Письменные принадлежности
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Посуда
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Промоассорти
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Ремарк
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Сумки и портфели
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Тематические сувениры
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Упаковка
                                        </a>
                                    </li>
                                    <li class="products__categories-list-item">
                                        <a href="#" class="products__categories-link">
                                            Флешки
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products__main">
                    <div class="products__detail">
                        <div class="products__detail-layout">
                            <div class="products__detail-sidebar">
                                <div class="gallery-slider gallery-slider--square js-gallery-slider">
                                    <div class="gallery-slider__main">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img data-src="img/product-card-gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image lazyload">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img data-src="img/product-card-gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image lazyload">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img data-src="img/product-card-gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image lazyload">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img data-src="img/product-card-gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image lazyload">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img data-src="img/product-card-gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image lazyload">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img data-src="img/product-card-gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image lazyload">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img data-src="img/product-card-gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image lazyload">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img data-src="img/product-card-gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image lazyload">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="gallery-slider__main-card">
                                                        <img data-src="img/product-card-gallery.jpg" alt=""
                                                            class="gallery-slider__main-card-image lazyload">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="gallery-slider__thumbs gallery-slider__thumbs--dark">
                                        <div class="gallery-slider__thumbs-inner">


                                            <button class="gallery-slider__arrow gallery-slider__arrow--prev">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                                    <use xlink:href="#arrow-left"></use>
                                                </svg>
                                            </button>
                                            <div class="gallery-slider__thumbs-wrapper">
                                                <div class="swiper-container">
                                                    <div class="swiper-wrapper">
                                                        <div class="swiper-slide">
                                                            <div class="gallery-slider__thumbs-card">
                                                                <img data-src="img/product-card-gallery.jpg" alt=""
                                                                    class="gallery-slider__thumbs-card-image lazyload">
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div class="gallery-slider__thumbs-card">
                                                                <img data-src="img/product-card-gallery.jpg" alt=""
                                                                    class="gallery-slider__thumbs-card-image lazyload">
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div class="gallery-slider__thumbs-card">
                                                                <img data-src="img/product-card-gallery.jpg" alt=""
                                                                    class="gallery-slider__thumbs-card-image lazyload">
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div class="gallery-slider__thumbs-card">
                                                                <img data-src="img/product-card-gallery.jpg" alt=""
                                                                    class="gallery-slider__thumbs-card-image lazyload">
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div class="gallery-slider__thumbs-card">
                                                                <img data-src="img/product-card-gallery.jpg" alt=""
                                                                    class="gallery-slider__thumbs-card-image lazyload">
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div class="gallery-slider__thumbs-card">
                                                                <img data-src="img/product-card-gallery.jpg" alt=""
                                                                    class="gallery-slider__thumbs-card-image lazyload">
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div class="gallery-slider__thumbs-card">
                                                                <img data-src="img/product-card-gallery.jpg" alt=""
                                                                    class="gallery-slider__thumbs-card-image lazyload">
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div class="gallery-slider__thumbs-card">
                                                                <img data-src="img/product-card-gallery.jpg" alt=""
                                                                    class="gallery-slider__thumbs-card-image lazyload">
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div class="gallery-slider__thumbs-card">
                                                                <img data-src="img/product-card-gallery.jpg" alt=""
                                                                    class="gallery-slider__thumbs-card-image lazyload">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="gallery-slider__arrow gallery-slider__arrow--next">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                                    <use xlink:href="#arrow-right"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="products__detail-advantages">
                                    <ul class="products__detail-advantages-list">
                                        <li class="products__detail-advantages-list-item">
                                            <div class="products__detail-advantages-card">
                                                <img src="img/product-detail-advantages/1.svg" alt=""
                                                    class="products__detail-advantages-card-icon">
                                                <div class="products__detail-advantages-card-text">
                                                    <p>
                                                        Мы работаем только с юридическими лицами по безналичному
                                                        расчету.
                                                    </p>
                                                </div>
                                            </div>

                                        </li>
                                        <li class="products__detail-advantages-list-item">
                                            <div class="products__detail-advantages-card">
                                                <img src="img/product-detail-advantages/2.svg" alt=""
                                                    class="products__detail-advantages-card-icon">
                                                <div class="products__detail-advantages-card-text">
                                                    <p>
                                                        Отгрузка заказов производится на условиях 100% предоплаты.
                                                    </p>
                                                </div>
                                            </div>

                                        </li>
                                        <li class="products__detail-advantages-list-item">
                                            <div class="products__detail-advantages-card">
                                                <img src="img/product-detail-advantages/3.svg" alt=""
                                                    class="products__detail-advantages-card-icon">
                                                <div class="products__detail-advantages-card-text">
                                                    <p>
                                                        При заказе от 10000 рублей доставка в пределах Казани бесплатна.
                                                    </p>
                                                </div>
                                            </div>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="products__detail-main">
                                <h1 class="products__detail-heading">
                                    Брелок со спиннером "MARINE", 5х1,5 см,металл
                                </h1>
                                <div class="products__detail-code">
                                    Артикул ХЭ8772/24
                                </div>

                                <div class="products__detail-add-block">


                                    <div class="products__detail-price">
                                        229,00 ₽
                                    </div>
                                    <form action="/" method="POST" class="products__detail-add-to-cart">
                                        <div class="products__detail-add-to-cart-amount">
                                            <button type="button"
                                                class="products__detail-add-to-cart-amount-btn js-amount-minus"
                                                disabled="">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-minus">
                                                    <use xlink:href="#minus"></use>
                                                </svg>
                                            </button>
                                            <input type="text"
                                                class="products__detail-add-to-cart-amount-input js-amount-input"
                                                readonly="" value="1" data-min-value="1">
                                            <button type="button"
                                                class="products__detail-add-to-cart-amount-btn js-amount-plus">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-plus">
                                                    <use xlink:href="#plus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <button class="green-btn products__detail-add-to-cart-submit" type="submit">
                                            В корзину
                                        </button>
                                    </form>
                                </div>

                                <div class="products__detail-specs">
                                    <h3 class="products__detail-specs-heading">
                                        Характеристики
                                    </h3>
                                    <div class="products__detail-specs-table">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th>
                                                        Размер:
                                                    </th>
                                                    <td>
                                                        5х1,5 см
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Материал:
                                                    </th>
                                                    <td>
                                                        металл
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Нанесение:
                                                    </th>
                                                    <td>
                                                        лазерная гравировка / круговая гравировка
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Бренд:
                                                    </th>
                                                    <td>
                                                        HAPPY GIFTS
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Рубрики:
                                                    </th>
                                                    <td>
                                                        Брелоки металл
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="products__detail-description">
                                    <h3 class="products__detail-description-heading">
                                        Описание
                                    </h3>
                                    <div class="products__detail-description-text">
                                        <p>
                                            Брело́к — аксессуар, украшение, выполненное в виде подвески на цепочке,
                                            браслете, кольце для ключей и другое. Обычно используется в декоративных и
                                            рекламных целях. Брелок способствует уменьшению вероятности потери ключей,
                                            за счёт увеличения размера, массы связки. Брелок также может выполнять
                                            дополнительную полезную функцию, например, представлять собой мини-фонарик,
                                            дистанционный пульт управления для автомобиля, открывалку для бутылок,
                                            пудреницу и так далее. Брелок — типичный сувенир или подарок.
                                        </p>
                                    </div>
                                </div>
                                <div class="products__detail-video">
                                    <a href="https://www.youtube.com/watch?v=jdx6db7PPVs&t=540s&ab_channel=Zenvious"
                                        class="products__detail-description-video-container" data-fancybox="">
                                        <img data-src="img/video.jpg" alt=""
                                            class="products__detail-description-video-image lazyload">
                                        <svg width="14" height="14" aria-hidden="true" class="icon-play-filled">
                                            <use xlink:href="#play-filled"></use>
                                        </svg>
                                    </a>
                                    <div class="products__detail-video-text">
                                        Подпись к видео
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="also-recommended js-also-recommended">
                        <div class="also-recommended__top-row">
                            <h2 class="section-heading also-recommended__heading">
                                Рекомендуем также
                            </h2>
                            <div class="slider-arrows also-recommended__arrows">
                                <button class="slider-arrows__btn slider-arrows__btn--green slider-arrows__btn--prev">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                        <use xlink:href="#arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="slider-arrows__btn slider-arrows__btn--green slider-arrows__btn--next">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="also-recommended__slider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    {{#times 8}}
                                    <div class="swiper-slide">
                                        {{> product-card }}
                                    </div>
                                    {{/times}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cases__integrated js-cases">


                        <div class="cases__top-row">
                            <h2 class="section-heading cases__heading">
                                Подборки и кейсы
                            </h2>
                            <div class="slider-arrows cases__slider-arrows">
                                <button class="slider-arrows__btn slider-arrows__btn--green slider-arrows__btn--prev">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                        <use xlink:href="#arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="slider-arrows__btn slider-arrows__btn--green slider-arrows__btn--next">
                                    <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="cases__slider">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="#" class="cases__slider-card">
                                            <div class="cases__slider-card-bg">
                                                <img src="img/cases/1.jpg" alt="" class="cases__slider-card-bg-image">
                                            </div>
                                            <h4 class="cases__slider-card-title cases__slider-card-title--white">
                                                Подборка
                                                на&nbsp;23&nbsp;февраля
                                            </h4>
                                            <div class="btn cases__slider-card-btn">
                                                Подробнее
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="cases__slider-card">
                                            <div class="cases__slider-card-bg">
                                                <img src="img/cases/2.jpg" alt="" class="cases__slider-card-bg-image">
                                            </div>
                                            <h4 class="cases__slider-card-title">
                                                Подборка
                                                на&nbsp;8&nbsp;марта
                                            </h4>
                                            <div class="btn cases__slider-card-btn">
                                                Подробнее
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="cases__slider-card">
                                            <div class="cases__slider-card-bg">
                                                <img src="img/cases/3.jpg" alt="" class="cases__slider-card-bg-image">
                                            </div>
                                            <h4 class="cases__slider-card-title cases__slider-card-title--white">
                                                Подборка
                                                на&nbsp;Новый год
                                            </h4>
                                            <div class="btn cases__slider-card-btn">
                                                Подробнее
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="cases__slider-card">
                                            <div class="cases__slider-card-bg">
                                                <img src="img/cases/4.jpg" alt="" class="cases__slider-card-bg-image">
                                            </div>
                                            <h4 class="cases__slider-card-title">
                                                Подборка
                                                на&nbsp;14&nbsp;февраля
                                            </h4>
                                            <div class="btn cases__slider-card-btn">
                                                Подробнее
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="cases__slider-card">
                                            <div class="cases__slider-card-bg">
                                                <img src="img/cases/1.jpg" alt="" class="cases__slider-card-bg-image">
                                            </div>
                                            <h4 class="cases__slider-card-title cases__slider-card-title--white">
                                                Подборка
                                                на&nbsp;23&nbsp;февраля
                                            </h4>
                                            <div class="btn cases__slider-card-btn">
                                                Подробнее
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="cases__slider-card">
                                            <div class="cases__slider-card-bg">
                                                <img src="img/cases/2.jpg" alt="" class="cases__slider-card-bg-image">
                                            </div>
                                            <h4 class="cases__slider-card-title">
                                                Подборка
                                                на&nbsp;8&nbsp;марта
                                            </h4>
                                            <div class="btn cases__slider-card-btn">
                                                Подробнее
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="cases__slider-card">
                                            <div class="cases__slider-card-bg">
                                                <img src="img/cases/3.jpg" alt="" class="cases__slider-card-bg-image">
                                            </div>
                                            <h4 class="cases__slider-card-title cases__slider-card-title--white">
                                                Подборка
                                                на&nbsp;Новый год
                                            </h4>
                                            <div class="btn cases__slider-card-btn">
                                                Подробнее
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="cases__slider-card">
                                            <div class="cases__slider-card-bg">
                                                <img src="img/cases/4.jpg" alt="" class="cases__slider-card-bg-image">
                                            </div>
                                            <h4 class="cases__slider-card-title">
                                                Подборка
                                                на&nbsp;14&nbsp;февраля
                                            </h4>
                                            <div class="btn cases__slider-card-btn">
                                                Подробнее
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cases__bottom-text">
                            <p>
                                Брело́к — аксессуар, украшение, выполненное в виде подвески на цепочке, браслете, кольце
                                для ключей и другое. Обычно используется в декоративных и рекламных целях. Брелок
                                способствует уменьшению вероятности потери ключей, за счёт увеличения размера, массы
                                связки. Брелок также может выполнять дополнительную полезную функцию, например,
                                представлять собой мини-фонарик, дистанционный пульт управления для автомобиля,
                                открывалку для бутылок, пудреницу и так далее. Брелок — типичный сувенир или подарок.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{{/content}}
{{/extend}}