{{#extend "layout"}}
{{#content "main"}}


<div class="breadcrumbs">
    <div class="container">
        <div class="inner-container">
            <div class="breadcrumbs__links">
                <a href="#" class="breadcrumbs__link">
                    Главная
                </a>
                <svg width="14" height="14" aria-hidden="true" class="icon-breadcrumbs-arrow">
                    <use xlink:href="#breadcrumbs-arrow"></use>
                </svg>
                <a href="#" class="breadcrumbs__link active">
                    Вакансии
                </a>
            </div>
        </div>
    </div>


</div>

<div class="page-heading">
    <div class="container">
        <div class="inner-container">
            <h1 class="section-heading">
                Вакансии
            </h1>
        </div>
    </div>
</div>

<div class="page-inner-nav">
    <div class="container">
        <div class="inner-container">
            <div class="page-inner-nav__links">
                <a href="#" class="page-inner-nav__link">
                    О компании
                </a>
            </div>
        </div>
    </div>
</div>


<section class="vacancies">
    <div class="container">
        <div class="inner-container">


            <div class="vacancies__top-info">
                <div class="vacancies__top-info-col">
                    <div class="vacancies__top-info-text">
                        <p>
                            Благодарим Вас за внимание к нашему предложению о работе. На этой странице Вы сможете
                            увидеть
                            все вакансии, открытые в нашей компании. Чтобы увидеть подробные условия о конкретной
                            вакансии,
                            кликните по ней мышкой.
                        </p>
                    </div>
                    <ul class="vacancies__list">
                        <li class="vacancies__list-item">
                            <div class="vacancies__card">
                                <svg width="14" height="14" aria-hidden="true" class="icon-case">
                                    <use xlink:href="#case"></use>
                                </svg>
                                <h3 class="vacancies__card-title">
                                    Менеджер по продажам
                                </h3>
                                <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                    <use xlink:href="#long-arrow-right"></use>
                                </svg>

                                <div class="vacancies__card-dropdown">
                                    <div class="vacancies__card-dropdown-inner">

                                        <h4 class="vacancies__card-dropdown-heading">
                                            Что нужно делать
                                        </h4>
                                        <div class="vacancies__card-dropdown-scroll-wrapper">


                                            <ul class="vacancies__card-dropdown-list">

                                                <li class="vacancies__card-dropdown-list-item">
                                                    Вести переговоры и заключать сделки с новыми клиентами.
                                                </li>
                                                <li class="vacancies__card-dropdown-list-item">
                                                    Разрабатывать коммерческие предложения под запросы клиента.
                                                </li>
                                                <li class="vacancies__card-dropdown-list-item">
                                                    Встречаться на территории клиента.
                                                </li>
                                                <li class="vacancies__card-dropdown-list-item">
                                                    Оформлять и заключать сделки.
                                                </li>
                                                <li class="vacancies__card-dropdown-list-item">
                                                    Выполнять планы продаж.
                                                </li>
                                                <li class="vacancies__card-dropdown-list-item">
                                                    Следить за базой клиентов, продлевать договоры текущих
                                                    рекламодателей.
                                                </li>

                                            </ul>
                                        </div>
                                        <a href="#" class="green-btn vacancies__card-dropdown-link">
                                            Откликнуться
                                        </a>


                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="vacancies__list-item">
                            <div class="vacancies__card">
                                <svg width="14" height="14" aria-hidden="true" class="icon-case">
                                    <use xlink:href="#case"></use>
                                </svg>
                                <h3 class="vacancies__card-title">
                                    Менеджер по продажам
                                </h3>
                                <svg width="14" height="14" aria-hidden="true" class="icon-long-arrow-right">
                                    <use xlink:href="#long-arrow-right"></use>
                                </svg>

                                <div class="vacancies__card-dropdown">
                                    <div class="vacancies__card-dropdown-inner">

                                        <h4 class="vacancies__card-dropdown-heading">
                                            Что нужно делать
                                        </h4>
                                        <div class="vacancies__card-dropdown-scroll-wrapper">


                                            <ul class="vacancies__card-dropdown-list">

                                                <li class="vacancies__card-dropdown-list-item">
                                                    Вести переговоры и заключать сделки с новыми клиентами.
                                                </li>
                                                <li class="vacancies__card-dropdown-list-item">
                                                    Разрабатывать коммерческие предложения под запросы клиента.
                                                </li>
                                                <li class="vacancies__card-dropdown-list-item">
                                                    Встречаться на территории клиента.
                                                </li>
                                                <li class="vacancies__card-dropdown-list-item">
                                                    Оформлять и заключать сделки.
                                                </li>
                                                <li class="vacancies__card-dropdown-list-item">
                                                    Выполнять планы продаж.
                                                </li>
                                                <li class="vacancies__card-dropdown-list-item">
                                                    Следить за базой клиентов, продлевать договоры текущих
                                                    рекламодателей.
                                                </li>

                                            </ul>
                                        </div>
                                        <a href="#" class="green-btn vacancies__card-dropdown-link">
                                            Откликнуться
                                        </a>


                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="vacancies__top-info-col">
                    <div class="vacancies__hh">
                        <div class="vacancies__hh-row">
                            <h3 class="vacancies__hh-title">
                                Все вакансии компании
                                на HH.ru
                            </h3>
                            <img src="img/hh.png" alt="" class="vacancies__hh-logo">
                        </div>
                        <a href="#" class="green-btn vacancies__hh-link">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <div class="vacancies__main-info">
                <h3 class="vacancies__main-info-heading">
                    Dream Team или почему работать в Ремарке - это круто!
                </h3>
                <div class="vacancies__main-info-text">
                    <p>
                        Если ты ответишь положительно на 4 из 5 пунктов, звони 292-73-83 и записывайся на собеседование!
                        Мы уже готовы принять тебя в свою команду!
                    </p>
                </div>
                <div class="vacancies__main-info-list-wrapper">


                    <ol class="vacancies__main-info-list">
                        <li class="vacancies__main-info-list-item">
                            <div class="vacancies__main-info-card">
                                <h4 class="vacancies__main-info-card-heading">
                                    1. Ты хочешь работать в большой и престижной развивающейся компании?
                                </h4>
                                <div class="vacancies__main-info-card-text">
                                    <p>
                                        Ремарк`у исполнилось 23 года! За это время мы прочно обосновались на рынке
                                        рекламы и
                                        развили сувенирное направление, в частности. Мы не стоим на месте, открывая
                                        новые
                                        перспективы.

                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="vacancies__main-info-list-item">
                            <div class="vacancies__main-info-card">
                                <h4 class="vacancies__main-info-card-heading">
                                    2. Ты хочешь получать достойную оплату труда?
                                </h4>
                                <div class="vacancies__main-info-card-text">
                                    <p>
                                        В Ремарк`е подготовлена хорошая база для того, чтобы из "новичка" ты стал
                                        топовым
                                        менеджером, причем довольно в короткие сроки. Для этого адаптированы программы
                                        обучения сотрудников внутри компании. Мы также поддерживаем инициативу
                                        самостоятельного поиска в развитии профессиональных навыков и поощряем это
                                        возможностью обучения за счет компании!


                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="vacancies__main-info-list-item">
                            <div class="vacancies__main-info-card">
                                <h4 class="vacancies__main-info-card-heading">
                                    3. Ты хочешь работать в дружном коллективе?
                                </h4>
                                <div class="vacancies__main-info-card-text">
                                    <p>
                                        Коллектив Ремарк`а молод, талантлив и свеж! Каждый из сотрудников уверен в том,
                                        что
                                        компания в нем нуждается! Каждый из сотрудников ценен и уникален для нас. Мы
                                        поддерживаем и гордимся каждым, кто находится в нашей команде. Мы вместе
                                        отмечаем
                                        праздники, проводим время и поддерживаем друг друга, радуемся успехам и помогаем
                                        справиться с трудностями.


                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="vacancies__main-info-list-item">
                            <div class="vacancies__main-info-card">
                                <h4 class="vacancies__main-info-card-heading">
                                    4. Ты хочешь развиваться, узнавать новое и расти в профессиональном плане?
                                </h4>
                                <div class="vacancies__main-info-card-text">
                                    <p>
                                        В Ремарк`е тебе предстоит столкнуться с решением новых и нестандартных задач.
                                        Твоя
                                        работа никогда не будет монотонной и серой! Мы проводим и участвуем в
                                        конференциях,
                                        саммитах, выставках, организовываем воркшопы на самые интересные и актуальные
                                        темы.
                                        В перспективе-карьерный рост.


                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="vacancies__main-info-list-item">
                            <div class="vacancies__main-info-card">
                                <h4 class="vacancies__main-info-card-heading">
                                    5. Ты хотел работать в офисе мечты?
                                </h4>
                                <div class="vacancies__main-info-card-text">
                                    <p>
                                        Офис Ремарк`а выполнен в стиле "Лофт". Штаб-квартира компании расположена на
                                        территории бывшего хлебозавода. Снаружи, это ничем не выдающаяся постройка в
                                        несколько этажей. Но внутри, ты словно становишься персонажем американского
                                        кинофильма. Дизайн нашего офиса не оставит тебя равнодушным. У каждого
                                        сотрудника
                                        есть своя рабочая зона, но при этом, сохраняется единство коллектива в целом.
                                        Офис
                                        выполнен в светлых тонах, настоящее пространство для творчества! На территории
                                        офиса
                                        оборудована большая кухня для сотрудников. Мы предоставляем все необходимое для
                                        твоего комфорта. Также, на территории здания работает кафе с домашней кухней,
                                        для
                                        сотрудников выделены парковочные места. Удобное территориальное расположение.


                                    </p>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
                <div class="vacancies__main-info-text">
                    <p>
                        И, напоследок, не отказывайся от того, что предлагает тебе жизнь. Случайности не случайны. Если
                        ты наткнулся на нас (или мы нашли тебя), значит, мы нужны друг другу.
                        Тогда - добро пожаловать в команду Ремарк! Мы тебя ждали.
                    </p>
                </div>
                <div class="vacancies__main-info-photos">
                    <div class="vacancies__main-info-photos-wrapper">
                        <img data-src="img/vacancies/1.jpg" alt="" class="vacancies__main-info-photo lazyload">
                    </div>
                    <div class="vacancies__main-info-photos-wrapper">
                        <img data-src="img/vacancies/2.jpg" alt="" class="vacancies__main-info-photo lazyload">
                    </div>
                </div>


            </div>

            <div class="vacancies__interviews-slider js-interviews-slider">
                <div class="vacancies__interviews-slider-top-row">
                    <h3 class="vacancies__interviews-slider-heading">
                        Интервью с Сотрудниками компании

                    </h3>
                    <div class="slider-arrows vacancies__interviews-slider-arrows">
                        <button class="slider-arrows__btn slider-arrows__btn--green slider-arrows__btn--prev">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <button class="slider-arrows__btn slider-arrows__btn--green slider-arrows__btn--next">
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>

                </div>
                <div class="vacancies__interviews-slider-container">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#" class="vacancies__interviews-slider-card">
                                    <div class="vacancies__interviews-slider-card-photo-container">
                                        <img data-src="img/vacancies/interview.jpg" alt=""
                                            class="vacancies__interviews-slider-card-photo lazyload">
                                    </div>
                                    <div class="vacancies__interviews-slider-card-content">
                                        <div class="vacancies__interviews-slider-card-author">
                                            <h4 class="vacancies__interviews-slider-card-author-name">
                                                Дамир Хаиров
                                            </h4>
                                            <div class="vacancies__interviews-slider-card-author-text">
                                                <p>
                                                    И.о руководителя отделения маркетинга и продаж, наставник, лидер
                                                    продаж.
                                                    В компании 5 лет.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="vacancies__interviews-slider-card-text">
                                            <p>
                                                - Дамир, расскажите, пожалуйста, когда Вы устроились на работу в
                                                "Ремарк" и
                                                что этому предшествовало?
                                            </p>
                                            <p>
                                                <strong>


                                                    - Пришел в "Ремарк" за опытом после окончания университета,
                                                    предполагал,что
                                                    на 1-2 года, но сувенирный мир затянул и вот я уже пятый год получаю
                                                    опыт и
                                                    делюсь им.
                                                </strong>
                                            </p>
                                            <p>
                                                - Самый запомнившийся Вам проект?
                                            </p>
                                            <p>
                                                <strong>


                                                    - Самый классный проект для меня - это новогодний набор "7S новая
                                                    система
                                                    бизнеса" для ПАО "Таттелеком". Весь процесс создания этого проекта
                                                    проходил
                                                    в творческой атмосфере: мозговой штурм, создание идеи, согласование
                                                    проекта
                                                    и его производство субботними вечерами почти всем коллективом
                                                    (ознакомиться
                                                    с этим набором можно в нашем шоу-руме).
                                                </strong>
                                            </p>
                                        </div>
                                        <div class="vacancies__interviews-slider-card-more">
                                            Читать полностью
                                        </div>

                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="vacancies__interviews-slider-card">
                                    <div class="vacancies__interviews-slider-card-photo-container">
                                        <img data-src="img/vacancies/interview.jpg" alt=""
                                            class="vacancies__interviews-slider-card-photo lazyload">
                                    </div>
                                    <div class="vacancies__interviews-slider-card-content">
                                        <div class="vacancies__interviews-slider-card-author">
                                            <h4 class="vacancies__interviews-slider-card-author-name">
                                                Дамир Хаиров
                                            </h4>
                                            <div class="vacancies__interviews-slider-card-author-text">
                                                <p>
                                                    И.о руководителя отделения маркетинга и продаж, наставник, лидер
                                                    продаж.
                                                    В компании 5 лет.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="vacancies__interviews-slider-card-text">
                                            <p>
                                                - Дамир, расскажите, пожалуйста, когда Вы устроились на работу в
                                                "Ремарк" и
                                                что этому предшествовало?
                                            </p>
                                            <p>
                                                <strong>


                                                    - Пришел в "Ремарк" за опытом после окончания университета,
                                                    предполагал,что
                                                    на 1-2 года, но сувенирный мир затянул и вот я уже пятый год получаю
                                                    опыт и
                                                    делюсь им.
                                                </strong>
                                            </p>
                                            <p>
                                                - Самый запомнившийся Вам проект?
                                            </p>
                                            <p>
                                                <strong>


                                                    - Самый классный проект для меня - это новогодний набор "7S новая
                                                    система
                                                    бизнеса" для ПАО "Таттелеком". Весь процесс создания этого проекта
                                                    проходил
                                                    в творческой атмосфере: мозговой штурм, создание идеи, согласование
                                                    проекта
                                                    и его производство субботними вечерами почти всем коллективом
                                                    (ознакомиться
                                                    с этим набором можно в нашем шоу-руме).
                                                </strong>
                                            </p>
                                        </div>
                                        <div class="vacancies__interviews-slider-card-more">
                                            Читать полностью
                                        </div>

                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#" class="vacancies__interviews-slider-card">
                                    <div class="vacancies__interviews-slider-card-photo-container">
                                        <img data-src="img/vacancies/interview.jpg" alt=""
                                            class="vacancies__interviews-slider-card-photo lazyload">
                                    </div>
                                    <div class="vacancies__interviews-slider-card-content">
                                        <div class="vacancies__interviews-slider-card-author">
                                            <h4 class="vacancies__interviews-slider-card-author-name">
                                                Дамир Хаиров
                                            </h4>
                                            <div class="vacancies__interviews-slider-card-author-text">
                                                <p>
                                                    И.о руководителя отделения маркетинга и продаж, наставник, лидер
                                                    продаж.
                                                    В компании 5 лет.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="vacancies__interviews-slider-card-text">
                                            <p>
                                                - Дамир, расскажите, пожалуйста, когда Вы устроились на работу в
                                                "Ремарк" и
                                                что этому предшествовало?
                                            </p>
                                            <p>
                                                <strong>


                                                    - Пришел в "Ремарк" за опытом после окончания университета,
                                                    предполагал,что
                                                    на 1-2 года, но сувенирный мир затянул и вот я уже пятый год получаю
                                                    опыт и
                                                    делюсь им.
                                                </strong>
                                            </p>
                                            <p>
                                                - Самый запомнившийся Вам проект?
                                            </p>
                                            <p>
                                                <strong>


                                                    - Самый классный проект для меня - это новогодний набор "7S новая
                                                    система
                                                    бизнеса" для ПАО "Таттелеком". Весь процесс создания этого проекта
                                                    проходил
                                                    в творческой атмосфере: мозговой штурм, создание идеи, согласование
                                                    проекта
                                                    и его производство субботними вечерами почти всем коллективом
                                                    (ознакомиться
                                                    с этим набором можно в нашем шоу-руме).
                                                </strong>
                                            </p>
                                        </div>
                                        <div class="vacancies__interviews-slider-card-more">
                                            Читать полностью
                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>









{{/content}}
{{/extend}}