.also-recommended {
    margin-bottom: 10rem;

    &--integrated {
        padding-top: 6rem;
        margin-top: 10rem;
        border-top: 1px solid rgba(#0a2742, 0.2);

        @include breakpoint(mobile) {
         
            padding-top: 3rem;
            margin-top: 5rem;
        }
    }
    @include breakpoint(mobile) {
        margin-bottom: 5rem;
    }
}

.also-recommended__top-row {
    margin-bottom: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.also-recommended__heading {
}

.also-recommended__arrows {
    margin-left: 4rem;
    @include breakpoint(mobile) {
        margin-left: 2.5rem;
        display: none;
    }
}

.also-recommended__slider {
    .swiper-container {
        @include breakpointMF(small-tablet) {
            padding: 2.8rem;
            margin: -2.8rem;
            margin-bottom: -5rem;
            padding-bottom: 5rem;
            mask-image: linear-gradient(
                to right,
                rgba(0, 0, 0, 0) 1.3rem,
                rgba(0, 0, 0, 1) 3rem,
                rgba(0, 0, 0, 1) calc(100% - 3rem),
                rgba(0, 0, 0, 0) 100%
            );
        }

        @include breakpoint(mobile) {
            overflow: visible;
        }
    }
    .swiper-slide {
        width: 25%;

        @include breakpoint(mobile) {
            width: 18rem;
        }
    }
}
