@font-face {
    font-family: 'Google Sans';
    src: url('../assets/fonts/GoogleSans-Medium.woff2') format('woff2'), url('../assets/fonts/GoogleSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Bold.woff2') format('woff2'), url('../assets/fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Regular.woff2') format('woff2'), url('../assets/fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('../assets/fonts/Geometria-Bold.woff2') format('woff2'), url('../assets/fonts/Geometria-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
