.gallery-catalog {
    margin-bottom: 10rem;

    @include breakpoint(mobile) {
        margin-bottom: 5rem;
    }
}

.gallery-catalog__list {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-gap: 2rem;
    grid-auto-flow: dense;

    @include breakpoint(mobile) {
        grid-gap: 1.5rem;
        grid-template-columns: minmax(0, 1fr);
    }
}

.gallery-catalog__list-item {
    display: flex;
    flex-direction: column;

    @include breakpointMF(small-tablet) {
        grid-column: span 2;

        &--medium {
            grid-column: span 3;

            .gallery-card__image-container::before {
                padding-bottom: 65.52%;
            }
        }

        &--wide {
            grid-column: span 4;
            .gallery-card__image-container::before {
                padding-bottom: 48.7%;
            }
        }
    }
}
