.intro-slider {
    padding-top: 4rem;
    margin-bottom: 10rem;

    &--fullwidth {
        @include breakpointMF(small-tablet) {
            .intro__main-slider {
                margin-left: calc(-1 * (100vw - 100% - var(--sb-width, 0)) / 2);
                margin-right: calc(-1 * (100vw - 100% - var(--sb-width, 0)) / 2);
            }
        }
    }

    @include breakpoint(mobile) {
        padding-top: 2rem;
        margin-bottom: 5rem;
    }
}

.intro__main-slider {
    .swiper-slide {
        display: flex;
        flex-direction: column;
        transition: transform 0.5s;
    }

    .intro-slider:not(.intro-slider--fullwidth).slider-transitioning & {
        .swiper-slide {
            transform: scale(0.9);
        }
    }

    .swiper-container {
        @include breakpoint(mobile) {
            overflow: visible;
        }
    }
}

.intro__main-slider-card {
    position: relative;
    z-index: 1;
    padding: 5rem 5rem;
    border-radius: 2rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    min-height: 42rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .intro-slider--fullwidth & {
        @include breakpointMF(small-tablet) {
            border-radius: 0;
        }
    }

    @include breakpoint(mobile) {
        padding: 1.8rem;
        min-height: 26rem;
        color: white;
        border-radius: 1.5rem;

        &:link,
        &:visited {
            color: white;
        }
    }
    .inner-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}

.intro__main-slider-card-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    @include breakpoint(mobile) {
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#0a2742, 0.5);
        }
    }
}

.intro__main-slider-card-bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include breakpoint(mobile) {
        object-position: right center;
    }
}

.intro__main-slider-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.intro__main-slider-card-label {
    padding: 0.4rem 1rem;
    background: #ffffff;
    border-radius: 2rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    font-size: 1rem;
    line-height: 1.2rem;
    color: var(--text-color);

    @include breakpoint(mobile) {
        background-color: var(--primary-color);
        color: white;
    }
}

.intro__main-slider-card-title {
    font-weight: bold;
    font-size: 3.4rem;
    line-height: 4.3rem;
    font-family: var(--geometria);
    margin-bottom: 1.2rem;
    max-width: 43rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 1.2;
        max-width: none;
    }
}

.intro__main-slider-card-text {
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-bottom: 3rem;
}

.intro__main-slider-card-btn {
    margin-top: auto;
}

.intro__arrows-wrapper {
    position: relative;
    @include breakpoint(mobile) {
        display: none;
    }
}

.intro__slider-arrows {
    position: absolute;
    bottom: 6rem;
    z-index: 100;
    right: 0;

    @include breakpoint(tablet) {
        right: 5rem;
    }
}

.intro__thumbs-slider {
    margin-top: 2.3rem;
    @include breakpoint(mobile) {
        display: none;
    }
}

.intro__thumbs-slider-cards {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 2rem;
}

.intro__thumbs-slider-card {
    display: flex;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    padding: 1rem 2rem;
    position: relative;
    z-index: 1;
    border-radius: 1rem;

    &--white {
        color: white;

        &:link,
        &:visited {
            color: white;
        }

        .intro__thumbs-slider-card-bg::after {
            background-color: rgba(#0a2742, 0.6);
        }
    }
}

.intro__thumbs-slider-card-title {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 160%;
    max-width: 16rem;
    font-family: var(--geometria);
}

.intro__thumbs-slider-card-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    user-select: none;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform-origin: left center;
        background-color: rgba(white, 0.6);
        transition: transform 0.3s;
        transform: scaleX(var(--slider-progress, 0));
    }
}

.intro__thumbs-slider-card-bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
