.page-heading {
    margin-bottom: 3.8rem;
    @include breakpoint(mobile) {
        margin-bottom: 2.5rem;
    }
}

.page-heading__date {
    font-size: 1.4rem;
    line-height: 2.6rem;
    margin-top: 1.6rem;
}
