.reviews {
    margin-bottom: 8rem;
    @include breakpoint(mobile) {
        margin-bottom: 5rem;
    }
}

.reviews__heading {
    margin-bottom: 5.5rem;
    @include breakpoint(mobile) {
        margin-bottom: 2.5rem;
    }
}

.reviews__slider {
    position: relative;

    .swiper-container {
        @include breakpoint(mobile) {
            overflow: visible;
        }
    }
}

.reviews__slider-arrows {
    position: absolute;
    right: 7rem;
    bottom: 4.4rem;
    z-index: 80;
    @include breakpoint(mobile) {
        display: none;
    }
}

.reviews__slider-card {
    background: #ffffff;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        border-radius: 1.5rem;
    }
}

.reviews__slider-card-video-container,
.reviews__slider-card-image-container {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);

    
    @include breakpoint(mobile) {
        border-radius: 1.5rem;
    }

    &::before {
        content: '';
        padding-bottom: 56.25%;
        display: block;
        width: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(10, 39, 66, 0.5), rgba(10, 39, 66, 0.5));
        z-index: 10;
    }

    .icon-play {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 6.7rem;
        height: 6.7rem;
        fill: white;
        z-index: 60;
        @include breakpoint(mobile) {
            width: 4.5rem;
            height: 4.5rem;
        }
    }
}

.reviews__slider-card-image-container {
    &::after {
        display: none;
    }
}


.reviews__slider-card-image-preview,
.reviews__slider-card-video-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews__slider-card-content {
    padding: 5rem 7rem;
    display: flex;
    flex-direction: column;
    @include breakpoint(mobile) {
        padding: 2rem 2.5rem;
    }
}

.reviews__slider-card-title {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 130%;
    margin-bottom: 2.5rem;
    font-family: var(--geometria);
    @include breakpoint(mobile) {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}

.reviews__slider-card-text {
    font-size: 1.4rem;
    line-height: 160%;
    margin-bottom: 4rem;
    @include breakpoint(mobile) {
        margin-bottom: 2rem;
    }
}

.reviews__slider-card-rating {
    gap: 0.5rem;
    flex-shrink: 0;
    margin-top: auto;
    svg {
        flex-shrink: 0;
        width: 1.7rem;
        height: 1.7rem;
        fill: var(--primary-color);
    }
}

.reviews__slider-card-company-logo {
    width: 37rem;
    display: block;
    height: auto;
    margin-bottom: 3.5rem;

    @include breakpoint(mobile) {
        width: 20rem;
        margin-bottom: 2rem;
    }
}

.reviews__slider-card-company-name {
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 2.9rem;
    color: #0a2742;

    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 1.2;
    }
}
